[2017-05-11 16:59] jywarren opened #1 "Planning overview"
OK, just starting out here, feel free to edit/adapt this!

## Setup phase

* [x] Create separate library at https://github.com/jywarren/leaflet-blurred-location
* [ ] Move any relevant issues to the blurred-location repository from https://github.com/publiclab/plots2/issues/1070
* [ ] Get demo running there, with simple HTML template and constructor like `location = new BlurredLocation(options);`

[2017-05-11 18:11] jywarren opened #2 "Interface design reference"
Copied over from @ebarry's comment at https://github.com/publiclab/plots2/pull/650

![locationinterface](https://cloud.githubusercontent.com/assets/161439/17665075/8f4b041a-62c6-11e6-9fdf-0bf5b4a71e80.gif)

- when dragging the map, the highlighted box should change while you drag. The crosshairs stay fixed in the middle.
- The highlighted box should be red (or hot pink, something bright).
- We mus

[2017-05-15 08:10] mridulnagpal commented on #1
@jywarren Looks perfect. Made a pull request with the setup phase changes. Please review

[2017-05-15 17:50] jywarren opened #5 "Test that .getLat() and .getLon() change after map.setView()"
Let's add a test that ensures that the methods `.getLat()` and `.getLon()` change after the Leaflet map is interacted with. We can simulate this in tests with `map.setView([lat, lon], zoom)`:

[code]

Later, we should ensure that it returns that value, but truncated to the current precision/zoom level, so:

[code]

In general, testing could use a lot of Leaflet features: http://leafletjs.com/examp

[2017-05-15 18:35] mridulnagpal commented on #5
@jywarren On it

[2017-05-16 04:51] mridulnagpal commented on #5
@jywarren What's blurredLocation? Is it an instance of BlurredLocation? If it is shouldn't it be named object? Little confused.

[2017-05-16 16:40] jywarren commented on #5
Hi, yes, it is - and actually, I think it's best to name the instance this way -- it's a convention you'll see in other libraries. I'll leave a comment to this effect on #3 too.

[2017-05-16 17:05] mridulnagpal commented on #5
@jywarren For this will I have to add an event listener that whenever setView is called any instance of class BlurredLocation will change it values to the same??

[2017-05-19 07:58] mridulnagpal commented on #5
@jywarren If you can give a green flag I will start working on it. Thanks

[2017-05-19 19:54] jywarren commented on #5
Ah, sorry - yes, that sounds right -- but maybe there's a more general event than `setView`? See docs: http://leafletjs.com/reference-1.0.3.html

OR, maybe more efficient is that since getLon/getLat are methods, you can just look up the current Leaflet map center when they're called, rather than doing it all the time?

[2017-05-21 04:34] mridulnagpal commented on #5
The map won't work till there is a map container tag div with id "map". Do I need to create it using javascript only? for tests atleast?

[2017-05-21 13:17] jywarren commented on #5
You should be able to use a minimal test html template - see how they're
created in PublicLab.Editor... they're stored in a folder inside the spec
folder.

On May 21, 2017 12:34 AM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-05-21 17:47] mridulnagpal commented on #5
I used the fixture template and it works well, thanks. Moreover I added the build button and the tests you have mentioned above. Please have a look #3

[2017-05-22 16:11] mridulnagpal commented on #1
@jywarren Should we move forward?

[2017-05-22 16:14] jywarren commented on #1
Yes! Next steps may be getting the existing methods integrated into
BlurredLocation object, and getting the demos working again?

On May 22, 2017 12:11 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-05-22 16:17] mridulnagpal commented on #1
The methods are a part of the BlurredLocation object. I didn't get the integration part.

[2017-05-22 23:27] jywarren commented on #1
Sorry, maybe I missed one of the changes in the big PR. Looking in now.

[2017-05-22 23:29] jywarren commented on #1
Ah, i mean integrating the code from `location_tags.js` and `locationForm.js` into the `object.js` object. So you can instantiate the object and it hooks up the form behaviors, wihtout requiring a separate JavaScript include.

[2017-05-23 09:47] mridulnagpal commented on #1
@jywarren Sure on it

[2017-05-24 17:45] mridulnagpal opened #6 "Integrating add grid to BlurredLocation object"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2017-05-24 17:48] mridulnagpal commented on #1
@jywarren Please have a look at #6 and add the first-timers-only label to it I couldn't find a way to do it

[2017-05-25 00:14] jywarren commented on #6
Looks like @akshat14714 has claimed this!

[2017-05-25 00:39] jywarren commented on #1
:-) looks like you've already got a bite!

On Wed, May 24, 2017 at 1:48 PM, Mridul Nagpal <notifications@github.com>
wrote:

[2017-05-25 02:18] mridulnagpal commented on #1
@jywarren First five of the setup phase are done I guess

[2017-05-25 18:06] mridulnagpal opened #9 "Developing a button to display current latitude and longitude the current position of map is pointing to"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2017-05-25 18:08] mridulnagpal commented on #9
@jywarren If you could tag this, also can I merge PR's in this repo, I couldn't find out how to do it. Is there some privacy issue there, please let me know. Thanks!

[2017-05-25 20:57] jywarren commented on #9
I'd still like to review PRs for the time being, so please be in communication before doing it, but i invited you to be a collaborator a while ago and I think you didn't click the invitation yet?

[2017-05-25 20:59] jywarren commented on #9
I also think this one is totally ready to be a `help-wanted` issue, but not quite a `first-timers-only` issue. It may seem like a lot, but a true FTO issue can actually guide you step by step through the code that has to be added, on what line, linking to perhaps an example of how similar code looks like elsewhere. Think about it like a way to guide people through every step, just the first time,

[2017-05-26 14:53] mridulnagpal commented on #9
Sorry for that, I'll more info to it.

[2017-05-26 15:17] mridulnagpal commented on #9
@jywarren Please have a look

[2017-06-05 05:49] #6 closed

[2017-06-05 06:14] mridulnagpal commented on #5
I think this issue is done, what say @jywarren ?

[2017-06-07 00:13] jywarren commented on #1
Super. Thanks for your hard work on this! I was trying to get the demo working in publiclab's github pages, but it was being weird. Have you been able to get the demo working in gh-pages on your own repository?

[2017-06-07 00:16] jywarren commented on #5
Great!

[2017-06-07 00:16] #5 closed

[2017-06-07 00:30] jywarren opened #10 "Begin compiling source files together using Browserify"
Does this make sense as a request? See how [in the demo](https://github.com/publiclab/leaflet-blurred-location/blob/master/examples/index.html#L69-L72), you still need to include `src/location_tags.js` and each other source file? The ideal is that we would be able to use Browserify and then you can link your separate source files together using `require('sourcefile.js')` -- and then we'd only need

[2017-06-08 15:32] mridulnagpal commented on #10
@jywarren The example html page is example.html rather than index.html

[2017-06-08 20:57] jywarren commented on #10
Really? I don't see a file there: https://github.com/publiclab/leaflet-blurred-location/tree/master/examples

[2017-06-08 23:29] mridulnagpal commented on #10
I guess we need to merge the PR first I added a file in the PR please have
a look

On 09-Jun-2017 2:27 AM, "Jeffrey Warren" <notifications@github.com> wrote:

[2017-06-13 16:30] mridulnagpal commented on #9
@jywarren I have added some more info to the issue, is it ready to be a first timer issue?

[2017-06-14 14:59] jywarren commented on #9
I think it is but let's wait until #7 is merged and it is more possible for folks to get started. Great work!

[2017-06-15 15:33] jywarren opened #11 "Delete location_tags.js"
I think this may need to be our next project -- to break this up properly and do a similar creation of an object around this --

https://github.com/publiclab/leaflet-blurred-location/blob/master/src/core/location_tags.js

For example, [line 8](https://github.com/publiclab/leaflet-blurred-location/blob/master/src/core/location_tags.js#L8) could be a named function stored in another file and `requir

[2017-06-15 15:48] jywarren opened #12 "move addGrid.js into /src/grid/setup.js and begin breaking up"
This will be pretty easy - we can separate the initial constructor code (which can go into setup.js) and then expose the `getNorthWestCornerCoordinates()` method here: https://github.com/publiclab/leaflet-blurred-location/pull/7/files#diff-1d9696b6f5e855069ace16a018a36377R61

I also think we can do more to modularize that more... we can get into it later though.

[2017-06-15 15:52] jywarren opened #13 "remove main.js and rename object.js to blurredLocation.js or main.js"
I think this is no longer used, right? https://github.com/mridulnagpal/leaflet-blurred-location/blob/81efadc72fb6e00a24db3fd3cc2d04cd9114afc1/src/core/main.js

Also, lets rename object.js to blurredLocation.js or main.js... i guess my preference is blurredLocation.js and we should have it be in /src/blurredLocation.js so people know everything starts there. Make sense?

Thanks!

[2017-06-15 15:55] jywarren opened #14 "Begin to name the specs with descriptions of their intended purpose"
The method names are supposed to be descriptive, but we should also use the longer descriptions of each spec to spell out in more detail what the expected behavior is.

https://github.com/publiclab/leaflet-blurred-location/blob/master/spec/javascripts/test_spec.js#L30

This also helps us because if the description is too long, we probably should break the method into two, so it does only one thing

[2017-06-16 20:30] jywarren opened #15 "Source indentation and README table fix"
Small followup issues, one from the PR i just closed and the other is that the README table is looking broken -- probably just needs some formatting help.

[2017-06-16 20:31] jywarren commented on #10
Complete in #7!

[2017-06-16 20:31] #10 closed

[2017-06-16 21:33] jywarren opened #17 "Add a getPrecision() method showing # of decimals current grid is showing"
So if the grid drawn is to 44.001 precision, `.getPrecision()` would return `3`. This should have a test written to it -- zoom the map with a Leaflet command, and check that the precision has changed!

It can be calculated based on the zoom level of the map, and should match the grid drawn by the Grid system (detailed in #18).

As the map is zoomed in and out, the precision will change (as shown i

[2017-06-16 21:39] jywarren opened #18 "Ensure addGrid.js code is drawing a grid to a decimal precision"
The grid seems to have a statically set size of 64 -- https://github.com/publiclab/leaflet-blurred-location/blob/master/src/core/addGrid.js#L24

But it should be drawing a grid that's based on a precision of latitude/longitude, so, for example grid lines on:

Am i misunderstanding the code, and this is actually the case?

[code]

[2017-06-16 21:40] jywarren opened #19 "Make "Obscure my exact location" toggle the grid on and off"
and also set `blurredLocation.isBlurred` to `true` or `false`. We can do this via a tested method called `blurredLocation.setBlurred(boolean)` which toggles the grid and sets `isBlurred`. Make sense?

[2017-06-16 21:46] jywarren opened #20 "add an onDrag() method to blurredLocation"
That will:

1. trigger when the map moves for any reason -- using a Leaflet event listener (http://leafletjs.com)
2. use `getLat()` and `getLon()` to find the placename using `getPlacenameFromCoordinates()` and display it in the "In Text" input in the example: https://publiclab.github.io/leaflet-blurred-location/examples/
3. use same methods to fill `By giving co-ordinates` inputs

[2017-06-16 21:48] jywarren opened #21 "adapt getLat() and getLon() to truncate to the result of getPrecision()"
`getPrecision()` -- mentioned in #17 -- will let us truncate the decimals of the locations before passing them. This is the main purpose of `leaflet-blurred-location`! :-)

[2017-06-16 21:54] jywarren commented on #11
I looked over this and actually i'm not convinced there's any code in there that we need! We're redoing all of that! So -- changing the title -- let's delete it!

[2017-06-16 21:58] jywarren opened #22 "Add explanation of relation of zoom level to precision"
Ultimately, this library will show a grid on a map, that displays squares of a precision -- so, at one zoom level, it might be latitudes of:

Like this:

[code]

Let's use this graphic and also figure out exactly what the precision of latitude/longitude corresponds to each zoom level. Then add this to the README to explain exactly what's going on in a clear way:

(this isn't correct, but to show h

[2017-06-16 22:00] jywarren commented on #1
Hi, @mridulnagpal -- i've added a set of sub-issues to help you over the next week. Can you please take a look: https://github.com/publiclab/leaflet-blurred-location/milestones

I hope this is helpful! Now that your basic library is in place, things can start to happen faster!

[2017-06-16 22:06] jywarren opened #23 "Add onSubmit handlers to lat/lon inputs on example"
Make it so that when you enter a latitude in the latitude input and press return, it runs `blurredLocation.setLat(latitude)` which runs `blurredLocation.panMap()`.

I noticed a bug also where `panMap` calls `map.panTo()` but that needs to be `options.map.panTo()`.

[2017-06-16 22:11] jywarren opened #24 "Change getPlacenameFromCoordinates() to be asynchronous and use a callback handler"
`getPlacenameFromCoordinates()` is not working because it makes an AJAX call and that runs asynchronously:

[code]

https://github.com/publiclab/leaflet-blurred-location/blob/master/src/core/object.js#L78-L87

At the time it wants to return `loc` the response hasn't come back yet. So we need to pass it a function to be run on completion, and you can tell it what to do with the location string ther

[2017-06-17 11:15] #14 closed

[2017-06-17 11:19] #15 closed

[2017-06-17 11:58] mridulnagpal commented on #24
@jywarren I tried using callback but I couldn't get it right, so I tried using sync call, please have a look.

[2017-06-17 12:00] jywarren commented on #24
@ccpandhare has worked on this kind of thing; can you offer some advice?

[2017-06-17 12:25] #13 closed

[2017-06-17 12:59] jywarren opened #30 "move input listeners into separate UI section of code"
The code for #23 and #25 is really just the interface, not the core functionality of the library. We should move it into a submodule called Interface.js and require it into `BlurredLocation.Interface` to keep our code better separated and organized.

[2017-06-17 16:12] jywarren commented on #18
Mridul, I think this may actually be he next place to work -- if we can get this grid to be on a specific scale, the other work on precision makes more sense.

Think about it this way: for a given zoom level, what's the smallest decimal place grid (lines every 0.1, 0.01, or 0.001) you can draw where the grid squares will still be larger than 100px across? That's the grid we should draw.

[2017-06-17 16:15] jywarren commented on #18
You can work from the `setupSize` method and the `origin` in addGrid.js -- for example, truncate the origin to the precision you're going for, and set the cellSize to 0.01 or 0.001 or whatever you calculate your precision to.

[2017-06-17 16:20] jywarren commented on #18
To calculate the precision, you could iterate --

* Start with gridsize = 1 degree
* Calculate the pixel width of 1 degree (use leaflet tools for this)
* If the pixel width is larger than 100 then divide gridsize by 10
* Recalculate the pixel width
* Repeat until the pixel width is < 100
* Gridsize is now your desired precision
* getPrecision should now return the number of times you had to divide

[2017-06-17 17:29] mridulnagpal commented on #18
@jywarren I didn't get it. Do you want me to locate top corners of the middle box and set precision accordingly?

[2017-06-17 17:37] jywarren commented on #18
No -- the grid itself should be drawn to a given precision, not the other way around. Think -- on the globe, there are set lines on each degree of latitude and longitude. If we drew a grid for each degree, we'd have 360 vertical lines and 180 horizontal ones for the whole globe. **That would be a precision of zero** -- that is, 0 decimals after the `1.`.

If we just wanted to look within one degre

[2017-06-17 17:59] mridulnagpal commented on #18
Okay so I looked for the documentation and for 0 zoom it shows the whole map. And zooms by 2*2 for each lat and lon. Thus if we want 6 boxes for 360 degrees(i.e 1 box per 60 degrees), we set `zoom = 0` else increase zoom by 1 and reduce lat/lon by 2 i.e 1 for 180 and so on. Thus for one degree we need to set the zoom to approx 6 as 2^6 = 64. Is it something like this?

[2017-06-17 18:02] jywarren commented on #18
Ah, not quite -- i still think you're approaching it backwards -- it's not that we want to make 6 boxes for a given # of degrees, it's that we want to make one box for each degree, or each tenth of a degree, or each hundredth of a degree, or thousandth of a degree. We don't want to set the zoom at all -- let the user change the zoom, and we just want to figure out what's the smallest grid we shoul

[2017-06-17 18:03] jywarren commented on #18
So we're trying to figure out how far to subdivide!

[2017-06-17 18:08] mridulnagpal commented on #18
If we set zoom = 6 we have 1 box per pixel, don't we?

[2017-06-17 18:11] mridulnagpal commented on #18
If we zoom out of the map does the size of grid change or remain the same?

[2017-06-17 18:11] jywarren commented on #18
the grid would recalculate each time we zoom in or out. hang on, i'm trying to write another note to help...

[2017-06-17 18:16] jywarren commented on #18
But we can break this down into parts and tackle them one by one. Let's say, the first is:

* What's the current zoom level?
* How many pixels is 1 degree of latitude?
* Is that larger than 100px?

We could write functions for these:

* `gridWidthInPixels(degrees)` -- returns how many pixels wide a grid with `degrees` line spacing would be -- for example `degrees` values of `1`, `0.1`, `0.01`
* `f

[2017-06-17 18:23] mridulnagpal commented on #18
So we have the total pixels in map to be 400px*400px and for zoom = 0 we have 360 degrees in 400px thus pixels in 1 degree will be 400/360, right?

[2017-06-17 18:31] jywarren commented on #18
That's right -- but we're never going to show the whole map, so that's not a common view. I think we can come up with a solution for that as well, though -- for example, we could draw lines every 10 degrees, in that case.

[2017-06-17 18:36] mridulnagpal commented on #18
so pixels per degree will be (400*(2^zoom))/360 right. Thats what we want?

[2017-06-17 18:40] jywarren commented on #18
That would be only for a 400px wide map, and that may change. I think the best way to calculate pixels per degree may be to use the conversion tools in Leaflet, which will also ensure you don't make a mistake with projections -- think about the fact that the grid isn't evenly spaced depending on your latitude. Lines of longitude converge at the poles! So, you can calculate the pixel position of tw

[2017-06-17 18:49] mridulnagpal commented on #18
Can you suggest any conversion methods from leaflet?

[2017-06-17 18:58] jywarren commented on #18
Yes, sorry, i had added this link to an earlier comment but it's way up there now: http://leafletjs.com/reference-1.0.3.html#map-latlngtocontainerpoint

[2017-06-17 19:11] mridulnagpal commented on #18
Perfect so I just take two points varying with difference of one and get there container points, take there difference, and that will be the number of pixels per degree, each for lat and lon. Am I getting it right?

[2017-06-17 19:19] jywarren commented on #18
Yes, exactly! Two points varying with difference of -- whatever the current fraction of a degree we're wondering about -- `1, 0.1, 0.01, 0.001` --

And you know, i think we can leave this part of it at just measuring latitude, because for regions we're looking at they'll be reasonably close to longitude. As we get to northern Russia, it could be like 2:1, but that's still OK for our drawn grid.

[2017-06-17 19:24] mridulnagpal commented on #18
So first we try with 1 then 0.1 and so on till we have `(gridWidthInPixels(degrees) < width)` where `gridWidthInPixels` is nothing but the difference between the outputs of the `latlngtocontainerpoint`, right?

[2017-06-17 19:35] jywarren commented on #18
Exactly.

On Jun 17, 2017 3:24 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-06-17 19:40] mridulnagpal commented on #18
And we'll get width from the `getSize()` method, right ? I will start with the methods right away.

[2017-06-17 19:44] jywarren commented on #18
Well, for now, just let `findPrecisionForMinimumGridWidth(width)` accept any arbitrary width -- although we'll probably go for 100px squares, as that's a reasonable size on the screen. Remember, this is just so that we have a readable-sized grid drawn on the screen, so by using a parameter, we can decide exactly what looks right later. It might end up being based on `getSize()`, if that's the size

[2017-06-17 19:55] mridulnagpal commented on #18
@jywarren Added the two methods we are talking about. Should I write test specs for them as well?

[2017-06-17 20:05] jywarren commented on #18
Let's move forward for a bit -- first i left some comments, but second, can you get the addGrid grid drawer to use this?

[2017-06-17 20:10] mridulnagpal commented on #18
We can call addGrid with an options argument, which will set the block size.

[2017-06-17 20:11] jywarren commented on #18
yes, perfect

[2017-06-17 20:19] mridulnagpal commented on #18
Added the options part, also renamed it to gridSystem. What next?

[2017-06-17 20:20] jywarren commented on #18
i left a request about the latlng of 1,1 -- take a look!

[2017-06-17 21:25] jywarren commented on #18
Great, #32 merged. Copying in my notes from the end of that:

OK, this looks good -- why don't we merge it and then do another one where you create a method called:

[code]

And let's rename `findPrecisionForMinimumGridWidth()` to `getMinimumGridWidth(pixels)` and have it return `{ degrees: ____, precision: _____ }` -- that way we can do:

[code]

Makes sense? `setCellSizeInDegrees()` will then ad

[2017-06-17 21:26] jywarren commented on #18
Take a short break and delete location_tags -- check off #11 -- it'll feel good! :-)

[2017-06-17 21:27] jywarren commented on #12
Basically done in #32, so now following up in #18 with more features for the new GridSystem.

[2017-06-17 21:27] #12 closed

[2017-06-17 21:29] jywarren commented on #22
There's now a lot of explanation that can be copied in in #18

[2017-06-17 21:52] mridulnagpal commented on #18
Sure, thanks Jeff :smile:

[2017-06-17 21:53] #11 closed

[2017-06-17 22:08] jywarren commented on #18
ok! i think you can begin integrating varying cellSize into https://github.com/publiclab/leaflet-blurred-location/blob/master/src/core/gridSystem.js -- give it a try!

A test might be -- zoom the map, then show that the cell size has changed.

[2017-06-18 22:30] mridulnagpal commented on #18
What would be the cell size for different degrees?

[2017-06-19 03:42] mridulnagpal commented on #18
As in if I enter degrees into the method setCellWidth what would I set the
cellSize to be? what relation would be between degrees and cellSize

On 19-Jun-2017 6:47 AM, "Jeffrey Warren" <notifications@github.com> wrote:

[2017-06-19 11:39] jywarren commented on #18
Ah, you can set cell size in degrees, no? Leaflet conversion methods can
help you if the codes not already able to accept that. But do conversions
inside gridSystem please.

On Jun 18, 2017 11:42 PM, "Mridul Nagpal" <notifications@github.com> wrote:

As in if I enter degrees into the method setCellWidth what would I set the
cellSize to be? what relation would be between degrees and cellSize

On 19

[2017-06-19 20:56] mridulnagpal commented on #18
@jywarren So if I enter 0.1 as degrees first I will have to calculate cellSize in pixels using `latLngToContainerPoint()` method?

[2017-06-19 22:26] jywarren commented on #18
Well, so you calculate cellSize in pixels to be sure it's less than 100px,
but then draw the grid based on degrees (ideally). I think if that really
doesn't work, we can just be sure to calculate the cell size locally enough
that as latitude/longitude change (say, when you're zoomed out enough) the
grid doesn't mismatch. But the strong preference is to draw the grid by
actual degrees, then we don'

[2017-06-19 22:33] mridulnagpal commented on #18
I got it now, what we are trying to do. Please have a look at the PR I have posted. The grid is made according to degrees it that.

[2017-06-20 23:44] jywarren opened #36 "Integrate Graticule plugin for grid drawing"
Hmm, something still seems wrong-- when you zoom in and out, the boxes move around -- do you know why? We should open a new issue for this, since if they're being calculated based on actual latitude/longitude, they should be fixed!

https://publiclab.github.io/leaflet-blurred-location/examples/

[2017-06-20 23:55] mridulnagpal commented on #36
I didn't get your point, as when we zoom in/out the boxes have to fit differently. For instance if the precision is one, a box will be having width of 0.1 degree as it is zoomed in it covers 0.01 degrees thus boxes will have different places, only one single line will be the same.

[2017-06-21 00:02] jywarren commented on #36
Sorry, i meant that the same boxes seem to be moving at different zoom
levels -- try it out. And also, smaller boxes should "fit" into bigger
boxes, so some lines should stay the same -- like 100 `0.01` boxes would
fit exactly into one `0.1` box, right? And i'm not sure I see this
happening.

On Tue, Jun 20, 2017 at 7:55 PM, Mridul Nagpal <notifications@github.com>
wrote:

[2017-06-21 00:05] mridulnagpal commented on #36
So what do you suggest we do?

[2017-06-21 00:12] jywarren commented on #36
Well, I think we need to debug -- find out why they're not at fixed locations. Are you sure you're drawing them from a known starting point, or are they being drawn perhaps on a 0.1 grid, but just starting with wherever the upper left corner happens to be?

If we get too stuck, we could consider using the Graticule plugin, but let's see if we can take a careful look at the code and figure out why

[2017-06-21 00:15] jywarren commented on #36
Yes, look - the origin is being calculated from the map viewport: https://github.com/publiclab/leaflet-blurred-location/blob/master/src/core/gridSystem.js#L109

This needs to be locked to the nearest point on the actual latitdue/longitude grid -- but you can truncate that value using our truncation function to achieve this, no?

[2017-06-22 20:47] mridulnagpal commented on #36
Perfect, I set the origin as constant and put up a PR, please have a look

[2017-06-22 20:48] mridulnagpal commented on #18
@jywarren Is there anything left of this issue or are we through?

[2017-06-22 20:49] mridulnagpal commented on #21
@jywarren I think this one is completed as well, what do you say?

[2017-06-22 20:49] mridulnagpal commented on #17
@jywarren Is there anything left of this issue?

[2017-06-22 20:52] jywarren commented on #36
Cool, would you mind force pushing to your `gh-pages` branch so I can try
it out as a demo?

On Thu, Jun 22, 2017 at 4:47 PM, Mridul Nagpal <notifications@github.com>
wrote:

[2017-06-22 20:55] mridulnagpal commented on #36
Yeah I did that, also here are two snaps of the same
![screenshot from 2017-06-23 02-11-59](https://user-images.githubusercontent.com/22350740/27455542-45cc588a-57bb-11e7-9f34-b266d7f66b6a.png)
![screenshot from 2017-06-23 02-11-44](https://user-images.githubusercontent.com/22350740/27455545-47f8a30c-57bb-11e7-884d-dad35aca0d1a.png)

[2017-06-22 20:56] jywarren commented on #21
Can you add a section to the README explaining that these are truncated to
the current precision?

Over here: https://github.com/publiclab/leaflet-blurred-location/#options

On Thu, Jun 22, 2017 at 4:49 PM, Mridul Nagpal <notifications@github.com>
wrote:

[2017-06-22 20:56] jywarren opened #38 "add getFullLat() and getFullLon() methods and document difference from getLat()"
https://github.com/publiclab/leaflet-blurred-location/#options should show how the normal `getLat()` is truncated to the current map zoom level-based precision (as reported by `getPrecision()`).

Also tests to show that this is true! Thanks!

[2017-06-22 20:57] mridulnagpal commented on #21
On it

[2017-06-22 21:02] mridulnagpal commented on #36
@jywarren What do you say?

[2017-06-22 21:10] jywarren commented on #17
Just documenting it in the README?

On Thu, Jun 22, 2017 at 4:49 PM, Mridul Nagpal <notifications@github.com>
wrote:

[2017-06-22 21:23] jywarren commented on #18
Let's assume it's done once we check it via your gh-pages demo. Thanks!

On Thu, Jun 22, 2017 at 4:48 PM, Mridul Nagpal <notifications@github.com>
wrote:

[2017-06-22 21:35] mridulnagpal commented on #18
Please have a look at #36 posted the snaps there, also pushed changes.

[2017-06-22 21:40] jywarren commented on #36
Hm, i don't see anything at https://mridulnagpal.github.io/leaflet-blurred-location/examples/ -- can you try again? The screenshots look good but I want to be sure.

[2017-06-22 22:09] mridulnagpal commented on #36
The page will show the master branch, won't it? Whereas the PR is from a different branch

[2017-06-22 22:15] jywarren commented on #36
ah, but from your local machine, you can force merge your changes into your local `gh-pages` branch and then force push them up with `git push origin gh-pages` or `git push https://github.com/mridulnagpal/leaflet-blurred-location.git gh-pages`, and then we can see your work live over there. No need for a PR for that, it's just a temporary thing to show off what you're doing in this PR.

[2017-06-22 22:30] mridulnagpal commented on #36
It seems there isn't a gh-pages branch in my repo so pushed to upstream/gh-pages, please have a look, till then I will create the gh-pages branch in my repo as well.
https://publiclab.github.io/leaflet-blurred-location/examples/

[2017-06-22 22:44] jywarren commented on #36
oh ok -- but in the future please leave the main repo's gh-pages branch
as-is, since that's supposed to be the publicly accessible demo, and if
people (in theory) come across the project that's the demo they'll be
looking at.

Hmm, that one's still moving the origin around... maybe the push wasn't
successful?

On Thu, Jun 22, 2017 at 6:30 PM, Mridul Nagpal <notifications@github.com>
wrote:

[2017-06-22 22:45] mridulnagpal commented on #36
I'll have a look

[2017-06-22 22:51] mridulnagpal commented on #36
I made a branch named gh-pages in my repo as well and pushed the changes but there seems to be some issue, can you please have a look
https://mridulnagpal.github.io/leaflet-blurred-location/examples/

[2017-06-22 22:57] jywarren commented on #36
I think you have to also add your `node_modules/leaflet`
and `node_modules/jquery` folders -- **only** to `gh-pages` -- because
those are required to run. `gh-pages` branch can get a little messy - just
don't let that messiness get back into your feature branches or master
branch!  :-)

On Thu, Jun 22, 2017 at 6:45 PM, Mridul Nagpal <notifications@github.com>
wrote:

[2017-06-22 23:12] mridulnagpal commented on #36
I added the folders, still the same result

[2017-06-26 14:28] mridulnagpal commented on #36
@jywarren Evenn after adding the folders I get the same thing please have a look

[2017-06-26 20:29] jywarren opened #44 "add setZoomByPrecision() method"
Precision is set by zoom, so to set precision, we can just zoom to a specific level for now.

But soon, a `setZoomByPrecision()` method would be great, so you could go to a precision you intend.

[2017-06-26 20:34] mridulnagpal commented on #44
On it

[2017-06-26 20:36] mridulnagpal commented on #44
Do I start from a default zoom, then keep on increasing it in a loop till we get the required precision

[2017-06-26 20:42] jywarren commented on #36
I believe there's a building issue with github pages and I opened a pull request to merge in a holding file to solve it -- https://github.com/mridulnagpal/leaflet-blurred-location/pull/3

[2017-06-26 20:52] jywarren commented on #36
awesome, that worked! https://mridulnagpal.github.io/leaflet-blurred-location/examples/

But your new origin code from https://github.com/publiclab/leaflet-blurred-location/pull/37 doesn't seem to be running there? or at least when i zoom in and out, the grid squares are still drawn from the upper right corner.

[2017-06-26 20:53] jywarren commented on #36
Also https://github.com/publiclab/leaflet-blurred-location/pull/37 is now a bit out of date, and I tried rebasing it but haven't gotten very far. Can you rebase it and then push it both to the PR and to `mridulnagpal#gh-pages` again? Then we'll be testing out the latest version in the demo.

[2017-06-26 21:03] mridulnagpal commented on #36
Done, please review the demo online https://mridulnagpal.github.io/leaflet-blurred-location/examples/

[2017-06-26 21:12] jywarren commented on #36
OK, great, the demo is operating, but I still see that the grid lines are shifting back and forth. I'm not sure what the issue is --

[code]

Maybe you should choose the lat/lon of the upper right corner of the viewport -- using `getBounds()` -- http://leafletjs.com/reference-1.0.3.html#map-getbounds

[2017-06-26 21:15] jywarren commented on #36
And compare to https://leaflet.github.io/Leaflet.Graticule/example/ -- and really, if we get stuck on this entirely, I think we may want to integrate https://github.com/leaflet/Leaflet.Graticule/ in, and simply use that -- it's great to have modular code to work on top of, and perhaps users of that project would like this extension of its use...

[2017-06-26 21:32] mridulnagpal commented on #36
They will change when the precision is changed, please try being on the same precision as I have sent the snaps. As when the precision changes, the lines won't be the same. The area where there had been 10 lines now there would be 2 as we zoom out.

[2017-06-26 21:51] jywarren commented on #36
They should change, but the smaller squares should fit perfectly into the
larger ones. For example where there is a square at 41-42 latitude, and
88-89 longitude, when we zoom in there should be squares at:

41.0, 41.1, 41.2, ... 41.9, 42.0

and:

88.0, 88.1, 88.2 ... 88.9, 89.0

See how this works in the Graticule demo. But in the demo you've posted,
the lines don't seem to either fit into each o

[2017-06-26 21:58] mridulnagpal commented on #36
I think the cell sizes are the reason, for instance for 1 degree number of pixels is 32 for 0.1 degree  its 324 so the 10 boxes won't fit. Thus I am  adding a method to improve this

[2017-06-26 22:02] jywarren commented on #36
Great. I'm sure you'll figure it out!

On Jun 26, 2017 5:58 PM, "Mridul Nagpal" <notifications@github.com> wrote:

I think the cell sizes are the reason, for instance for 1 degree number of
pixels is 32 for 0.1 degree its 324 so the 10 boxes won't fit. Thus I am
adding a method to improve this

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<ht

[2017-06-26 22:13] mridulnagpal commented on #36
Added a helper method which calculated cell size for 1 degree then divides it by the precision we need. For example 1 degree has 1234 pixels and precision is 2 then cell size will be 12.34 rather than 12 which was the case before

[2017-06-27 14:02] jywarren commented on #36
Ok, i closed out the PR in #37, but I'm changing the name of this one to request integrating the Graticule plugin for the grid drawing

This will be inside of [the GridSystem class](https://github.com/publiclab/leaflet-blurred-location/blob/master/src/core/gridSystem.js), so we'll still be customizing it a lot, for example to add `highlightCenterCell()` and such.

[2017-06-28 21:15] mridulnagpal commented on #36
Roger that!

[2017-06-28 21:18] mridulnagpal commented on #19
Is this done?

[2017-06-28 21:28] jywarren commented on #19
Yes, i think -- does it toggle isBlurred? Then yes!

On Wed, Jun 28, 2017 at 5:18 PM, Mridul Nagpal <notifications@github.com>
wrote:

[2017-06-28 21:29] mridulnagpal commented on #19
Yes we have a test for that as well.

[2017-06-28 21:32] jywarren commented on #19
perfect, all good!

On Wed, Jun 28, 2017 at 5:29 PM, Mridul Nagpal <notifications@github.com>
wrote:

[2017-06-28 21:32] mridulnagpal commented on #19
Closing the issue then, one more off the list!!

[2017-06-28 21:32] #19 closed

[2017-06-28 21:33] jywarren commented on #19
:-) Great work!

On Wed, Jun 28, 2017 at 5:32 PM, Mridul Nagpal <notifications@github.com>
wrote:

[2017-06-29 17:25] jywarren commented on #30
Is this complete? I think you need to move the obscureLocation() method out into the example, since it's interface code and not universal -- it's dependent on the specifics of the HTML you create.

[2017-06-29 17:26] jywarren commented on #38
This exists but I noticed only one of the two has a parseFloat, getFullLon doesn't. How is it passing tests?

[2017-06-29 17:28] jywarren opened #45 "ensure each public method of BlurredImage has a test"
I think the truncate method is missing it? Maybe others.

[2017-06-29 17:41] mridulnagpal commented on #17
Is this done?

[2017-06-29 17:42] mridulnagpal commented on #18
Is this done?

[2017-06-29 17:42] mridulnagpal commented on #21
Is this done?

[2017-06-29 17:42] mridulnagpal commented on #23
Is this done?

[2017-06-29 17:42] mridulnagpal commented on #30
Is this done?

[2017-06-29 17:53] mridulnagpal commented on #44
Can you tell me how do we do it, either loop or do some calculations using Leaflet methods?

[2017-06-29 18:53] #45 closed

[2017-06-29 18:58] jywarren commented on #30
Left a comment and request there. Thanks!

[2017-06-29 18:58] jywarren commented on #23
yep!

[2017-06-29 18:58] #23 closed

[2017-06-29 19:00] jywarren commented on #44
Hm, this is a good question. I'm not sure... I think there's some math we could do to calculate this out, but it's not extremely high priority so we can wait on it for a bit. I'm also just not great at math :-P

[2017-06-29 19:00] #21 closed

[2017-06-29 19:01] jywarren commented on #18
Merging into #36

[2017-06-29 19:01] #18 closed

[2017-06-29 19:01] #17 closed

[2017-06-29 19:01] jywarren commented on #17
👍

[2017-06-29 23:16] #30 closed

[2017-06-29 23:18] jywarren commented on #20
After #36 this is probably next. Great work!

[2017-06-29 23:20] mridulnagpal commented on #20
Actually I am working on this currently, will take a few more minutes, then I'll be on with #36

[2017-06-30 15:36] jywarren commented on #20
Great.

On Jun 29, 2017 7:20 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-06-30 22:10] jywarren commented on #1
Coming along here. Once we have the Graticule work done, we can start really checking these off.

I added some detail to `initial "location entry" interface without privacy` - hope that helps.

[2017-06-30 22:11] jywarren opened #49 "add getPlacename() method to public API"
We shoudl be able to get a string description of the placename, and I believe this already exists -- let's document it in the README and expose it in the public API if it's not already.

[2017-06-30 22:14] jywarren commented on #49
This is distinct from `getPlacenameFromCoordinates()` -- it should just get current placename by running `getPlacenameFromCoordinates(getLat(), getLon())`

[2017-06-30 22:16] jywarren opened #50 "expose Leaflet map object in public API"
via `blurredObject.map`

and document this in the README -- so people can directly send Leaflet commands to the map.

Thanks!

[2017-07-02 01:17] mridulnagpal commented on #36
Let's get on with this as well, I was looking at the Plugin, but couldn't find how to install it and add it to the project.

[2017-07-03 13:38] jywarren commented on #36
I think best look at the code of the demo. Great!

On Jul 1, 2017 9:17 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-07-03 21:10] mridulnagpal commented on #50
This is done in the graticule integration PR itself!

[2017-07-03 21:12] mridulnagpal commented on #49
Its already there in the public API we can access it using a callback function

[2017-07-03 21:14] mridulnagpal commented on #38
getCenter() function returns an int that's why, corrected the issue in graticule PR only!

[2017-07-03 21:44] jywarren commented on #50
Great, however in the future lets keep the PRs separate so we can do one thing per PR -- thanks! But yes i saw that and it looks super. :-)

[2017-07-03 21:44] #38 closed

[2017-07-03 21:45] jywarren commented on #49
Can you document in the readme? Thank you!

[2017-07-09 16:05] jywarren opened #54 "highlight center grid square using Graticule plugin"
Corresponding to the current output of getLat/getLon (these coodriates would be the north west corner of the text.

This could possibly involve some extending of the Graticule plugin, we'll have to look at the best way to do this.

Or if that's too complex, we could just draw the shaded rectangle over the Graticule grid.

[2017-07-09 16:10] #20 closed

[2017-07-09 16:29] mridulnagpal commented on #54
I studied the code, it basically draws lines on particular lat and lon so there are no cell structures or anything related to it, what do you think we should do to shade the middle square.

[2017-07-09 16:53] jywarren commented on #54
Let's draw a rectangle then! We can truncate the center lat/lon to the
current precision and just draw one rectangle onDrag.

On Jul 9, 2017 12:29 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-07-09 16:55] mridulnagpal commented on #54
Have you noticed if you zoom too much into the map it doesn't show any
smaller boxes

On 09-Jul-2017 10:23 PM, "Jeffrey Warren" <notifications@github.com> wrote:

Let's draw a rectangle then! We can truncate the center lat/lon to the
current precision and just draw one rectangle onDrag.

On Jul 9, 2017 12:29 PM, "Mridul Nagpal" <notifications@github.com> wrote:

issues/54#issuecomment-313930301>,

[2017-07-09 16:59] jywarren commented on #54
In Graticule? No, anything in their docs about that?

On Jul 9, 2017 12:55 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-07-09 17:22] mridulnagpal commented on #54
![image](https://user-images.githubusercontent.com/22350740/27996135-28c88dee-64f9-11e7-9650-a2f2b6fdce26.png)
There is just a zoomInterval parameter. Please have a look at the screenshot, zoom a little further and it appears as if there is no grid.

[2017-07-09 17:56] jywarren commented on #54
Did you look to see what zoom level the map is and if your configuration
specified a grid resolution for that zoom level?

On Jul 9, 2017 1:22 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-07-09 18:12] mridulnagpal commented on #54
I did not entirely get the system of zoom interval,  if you have any insights please share.

[2017-07-09 18:13] jywarren commented on #54
Yeah i think the max grid zoom is specified as 1; you need to add more
levels  like 0.1, 0.01...

https://github.com/publiclab/leaflet-blurred-location/pull/52/files#diff-742bf252bd819acc8283922d78f676e8R11

On Jul 9, 2017 1:56 PM, "Jeffrey Warren" <jeff@unterbahn.com> wrote:

[2017-07-09 18:15] mridulnagpal commented on #54
what does start and end specify?

[2017-07-09 18:19] jywarren commented on #54
The start and end zoom levels for which to display that resolution grid.

On Jul 9, 2017 2:15 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-07-09 18:37] mridulnagpal commented on #54
I have made the customized the interval sizes, they work fine. But the numeric representation of lat and lon is a bit long we will have to reduce it in the graticule fork itself.

[2017-07-09 18:38] mridulnagpal commented on #50
Should we close this?

[2017-07-09 18:38] mridulnagpal commented on #49
should we close this?

[2017-07-09 18:39] mridulnagpal commented on #36
Is this done?

[2017-07-09 18:58] jywarren commented on #36
Yep!

[2017-07-09 18:58] #36 closed

[2017-07-09 18:59] jywarren commented on #49
Yep!

On Jul 9, 2017 2:38 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-07-09 19:00] jywarren commented on #50
+1!

On Jul 9, 2017 2:38 PM, "Mridul Nagpal" <notifications@github.com> wrote:

Should we close this?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/publiclab/leaflet-blurred-location/issues/50#issuecomment-313937394>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AABfJ5Q4juZ7PirrQYe0R_sQ2VMw3TY

[2017-07-09 19:01] jywarren commented on #54
Cool, please open a PR over there! Thanks!

On Jul 9, 2017 2:37 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-07-09 19:20] #49 closed

[2017-07-09 19:20] #50 closed

[2017-07-09 19:20] mridulnagpal commented on #54
On it!

[2017-07-09 20:35] mridulnagpal commented on #54
So, I studied a little bit of the code in Leaflet.Graticule and changed the decimal places according to our precision. Posted a PR to your repo, as soon as you merge it you can review its effect on the map on gh-pages

[2017-07-20 17:19] mridulnagpal commented on #54
First I get the center of the map then round it off to nearest precision position, for instance if precision is 2 and center is 23.32442, 45.324234 what I do is find the consecutive interval for lat and lng i.e 23.32 to 23.33 and 45.32 to 45.33 and place a rectangle over it, sound about right?

[2017-07-24 17:55] mridulnagpal commented on #54
I think this is done

[2017-07-24 17:55] mridulnagpal commented on #44
This one's complete as well

[2017-07-26 04:12] jywarren opened #59 "preserve input placename string and return it if it exists instead of a reverse geocoding"
Let's save the input placename as a string, and return that, as `location.placename`, but if there's no input placename, then we fall back to reverse geocoding? So we'd have `getPlacename()` which returns `location.placename || location.getPlacenameFromCoordinates(...)` -- make sense?

Followup to #58

[2017-07-28 11:14] mridulnagpal commented on #59
#60 Please have a look works fine on my remote
![image](https://user-images.githubusercontent.com/22350740/28715071-f4c72950-73b3-11e7-8487-0d26220b938d.png)

[2017-07-28 19:08] #44 closed

[2017-07-28 19:08] #54 closed

[2017-07-28 19:10] jywarren commented on #59
Hmm, are you sure you updated it? I see this:

![screenshot 2017-07-28 at 3 09 42 pm](https://user-images.githubusercontent.com/24359/28732704-27c0253a-73d9-11e7-8fd1-e819c751e215.png)

Great work though -- this is good progress!

[2017-07-28 19:11] jywarren opened #61 "ensure displayed coordinates are truncated to precision"
under `Option 3 : By giving co-ordinates` -- thanks!

[2017-07-28 19:12] jywarren opened #62 "display a marker instead of box when `Obscure my exact location` is unchecked"
i.e. when `isBlurred` is `false`

Thanks!

[2017-07-28 19:17] jywarren opened #63 "Truncate placename if isBlurred == true"
this one is harder -- because it's difficult to semantically determine what to display as text for a highly blurred location.

My suggestion is that we come up with some kind of manual mapping, like:

[code]

maybe we look at what different fields the geocoder returns, and assign a zoom range for each, kind of like how we did for the zoom levels and precisions?

We may want to decide for example t

[2017-07-29 16:46] mridulnagpal commented on #59
Just a sec, I'll push it to gh-pages as well

[2017-07-29 16:50] mridulnagpal commented on #59
Pushed, please have a look

[2017-07-29 20:47] jywarren commented on #59
Perfect. Merging!

On Jul 29, 2017 12:50 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-07-29 20:48] jywarren commented on #59
Done! Great.

[2017-07-29 20:48] #59 closed

[2017-07-29 20:48] jywarren commented on #61
Let's do this next!

[2017-07-29 20:49] jywarren commented on #62
And this too! The rectangle need not be displayed if isBlurred is false. Thanks!

[2017-07-30 07:56] mridulnagpal commented on #61
On it!

[2017-07-30 08:01] mridulnagpal commented on #61
Actually these are the co-ordinates entered by the user so we don't display these, so most we can do is setZoomByPrecision as it is entered by the user, for instance if one inputs 43.23 and -85.54 we pan to the location and set precision as 2

[2017-07-30 08:11] mridulnagpal commented on #62
The sync part is done, working on the marker thing.

[2017-07-30 08:12] mridulnagpal commented on #63
Sounds really interesting, on it!!

[2017-07-30 09:28] mridulnagpal commented on #62
Marker has also been added, will push it to gh-pages in minutes.

[2017-07-30 09:31] mridulnagpal commented on #62
![image](https://user-images.githubusercontent.com/22350740/28752233-f25bf67a-7537-11e7-9f35-bfa34891d14b.png)

[2017-07-30 09:52] mridulnagpal commented on #63
@jywarren What was the api key for geocoding for PublicLabs?

[2017-07-30 11:19] jywarren commented on #62
Great!

[2017-07-30 11:20] #62 closed

[2017-07-30 11:22] jywarren commented on #61
Yes but we can overwrite them in the demo code, even if we don't change the
library code. How's that?

On Jul 30, 2017 4:02 AM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-07-30 11:23] jywarren commented on #63
Hmm, do you need it? Aren't you already reverse geocoding to get the
placename?

On Jul 30, 2017 5:52 AM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-07-30 11:29] jywarren commented on #63
Here you can explore the different returned placename values:

 https://github.com/publiclab/leaflet-blurred-location/blob/master/src/ui/Interface.js#L31

[2017-07-30 11:32] jywarren commented on #63
But let's perform the truncating in getPlacename, not in the interface code, since it's a core functionality that doesn't depend on interface. So here: https://github.com/publiclab/leaflet-blurred-location/blob/master/src/blurredLocation.js#L104

[2017-07-30 17:01] mridulnagpal commented on #61
I didn't get it, can you give an example of the scenario?

[2017-07-30 17:05] mridulnagpal commented on #63
Actually there is an options for getting only the country name or city name in google reverse geocoding but it is asking for a key. Here
![image](https://user-images.githubusercontent.com/22350740/28755382-5c5bd7cc-7577-11e7-9abc-9fa2a6f40e92.png)

[2017-07-30 17:21] jywarren commented on #61
I mean could you overwrite the inputs using getLat and getLon if the user
interacts with the map or the text-based search?

On Jul 30, 2017 1:01 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-07-30 17:22] jywarren commented on #63
Ah, I see. So we'll have to make this optional, perhaps.

On Jul 30, 2017 1:05 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-07-30 17:23] jywarren commented on #63
Wait, what's a client ID? Could we supply that instead? I just don't want
to put our API key into the repository.

On Jul 30, 2017 1:22 PM, "Jeffrey Warren" <jeff@unterbahn.com> wrote:

[2017-07-30 17:30] jywarren commented on #63
So, if we do need to make it optional we could have a constructor parameter
like blurPlacename and googleApiKey -- and include a warning in the readme
that without an API key or client ID (linking to the docs you cited)
getPlacename may reveal more location than intended.

 This warning is really important since people may rely on this library to
protect their privacy. Make sense?

Thanks!

On Jul

[2017-07-30 19:21] mridulnagpal commented on #61
Yes can be done, on it!

[2017-07-30 19:21] mridulnagpal commented on #63
Sure can be done, on it!

[2017-07-31 17:48] jywarren opened #66 "stop including Leaflet in via require()"
I was thinking about this, and in the most common use cases, people will already have Leaflet included in their HTML -- so I think we should just assume it's already there, and not compile it in. So this would require changes to the examples `.html` files, and the line in the main file is:

https://github.com/publiclab/leaflet-blurred-location/blob/master/src/blurredLocation.js#L3

[2017-08-01 03:16] mridulnagpal commented on #63
@jywarren I tried using the result_type feature in geocode but it doesn't show any result in many cases, figuring out another way to do so

[2017-08-01 16:58] mridulnagpal commented on #66
So I include it in the html file itself?

[2017-08-01 17:39] jywarren commented on #66
Yep. But please post about the new demo first, this isn't as critical as
getting some input and showing people your work!

On Aug 1, 2017 12:58 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-08-02 02:52] mridulnagpal commented on #66
On it!

[2017-08-02 03:08] mridulnagpal commented on #66
I have posted a research note as a start, can you tell me what other things should I add there?

[2017-08-02 03:18] mridulnagpal commented on #63
@jywarren I made some more changes in #67 and at precision 0 it displays the country, will post a new PR for the rest.

[2017-08-03 15:31] jywarren commented on #63
Thanks, will look for it!

[2017-08-03 20:16] jywarren opened #68 "begin location maps all the way zoomed out"
and at 0,0 (maybe?) to try not bias the location entry too much

[2017-08-03 20:21] jywarren opened #69 "offer to use browser-based geocoding (by IP) with geocodeWithBrowser()"
but be sure it's blurred if need be.

And add a button to the demo, maybe as a link just above "Blur my location"?

Thanks!

[2017-08-03 20:22] jywarren commented on #66
Sounds great -- they asked some questions -- sounds like they loved it!

[2017-08-03 20:36] mridulnagpal commented on #66
Cheers !! :smile:

[2017-08-03 20:37] mridulnagpal commented on #61
This one's resolved in #67

[2017-08-03 20:38] jywarren commented on #63
Also perhaps we should separate any additional work on this into a separate PR -- best not to mix. Sounds good, and if you could copy in and/or respond to my comments on #67 that are relevant to the next PR, that would be great.

[2017-08-03 20:51] jywarren commented on #61
+1!

[2017-08-04 02:45] #66 closed

[2017-08-04 16:54] jywarren commented on #69
as in https://github.com/publiclab/mapknitter/blob/master/app/views/maps/_geocoder.js.erb

[2017-08-05 22:16] jywarren opened #72 "maintain marker/rectangle location on map center while dragging"
...not just when you release.

I did some testing with a friend and observed a few UI issues we could improve on. This is one.

My friend wanted to drag the marker, not the map. I think this will make it more clear that the marker is "locked" always to the center.

[2017-08-05 22:18] jywarren opened #73 "Update lat/lon/placename fields when you use the map"
This seems to be broken in the demo when you don't initially enter a location.

https://publiclab.github.io/leaflet-blurred-location/examples/

[2017-08-05 22:20] jywarren opened #74 "Add explanatory text"
Also by the map, we shoudl show:

[2017-08-05 22:26] jywarren opened #75 "Disable scroll panning -- scroll wheel should only zoom, not pan"
This caused some confusion in tests with a friend of mine -- when using trackpad pinch or scroll gestures, it recenters the map and makes it really easy to lose your location when you zoom out too far and then back in using a pinch gesture.

But regular panning with drag should still work. This is a bit weird but I think it'll make it more usable. We can search for "Disable Leaflet pinch to pan" o

[2017-08-07 16:07] mridulnagpal commented on #72
Done!! #76

[2017-08-07 16:21] mridulnagpal commented on #73
Actually I made it as an option initially turned off, we can enable it using `blurredLocation.Interface.enableLatLngInputTruncate()`, keeping it as default in the PR #67

[2017-08-07 16:43] mridulnagpal commented on #75
Done #77

[2017-08-07 20:54] jywarren commented on #72
Perfect!

[2017-08-07 20:54] #72 closed

[2017-08-07 23:07] jywarren commented on #75
Super!! @kindanduseful - check it out -- https://mridulnagpal.github.io/leaflet-blurred-location/examples/

[2017-08-08 15:28] #68 closed

[2017-08-09 04:44] #61 closed

[2017-08-09 04:44] mridulnagpal commented on #75
Is there anything left of this issue?

[2017-08-09 04:45] mridulnagpal commented on #73
Should we close this as well?

[2017-08-09 04:45] mridulnagpal commented on #63
Any more changes needed regarding this issue?

[2017-08-09 04:51] jywarren commented on #75
I wonder if you could add the pinch gesture as I don't think that's working
the same as scroll. I think it's a different leaflet event.

On Aug 8, 2017 11:44 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-08-09 04:52] mridulnagpal commented on #75
Sure, looking into it :+1:

[2017-08-09 04:53] jywarren commented on #63
I published to the publiclab GH pages and I'm occasionally seeing
"undefined" in the country field. Also there could be an extra space
between postal code and country. But very very close!

On Aug 8, 2017 11:48 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-08-09 04:56] jywarren commented on #73
Yep! Awesome.

[2017-08-09 04:56] #73 closed

[2017-08-09 04:59] mridulnagpal commented on #63
On it!!

[2017-08-09 05:06] mridulnagpal commented on #75
http://leafletjs.com/reference-1.2.0.html#map-zoomsnap Is it this one?

[2017-08-09 05:28] mridulnagpal commented on #63
Posted a PR please have a look !!

[2017-08-09 10:26] mridulnagpal commented on #74
@jywarren I couldn't open the link that you have posted. It says the page has not been created yet, and you need to login to create one.

[2017-08-09 10:28] mridulnagpal commented on #74
I have updated the readme file in a new PR, added a privacy section in the features part, please have a look!!

[2017-08-09 10:30] mridulnagpal commented on #75
I found something called the touch zoom, here http://leafletjs.com/reference-1.2.0.html#map-touchzoom setting it to center as well.

[2017-08-09 10:41] mridulnagpal commented on #69
I didn't get it, the link you posted. Where does it geocode using the location of the browser?

[2017-08-10 01:54] #74 closed

[2017-08-10 01:57] jywarren opened #81 "use standardized abstract geocoding library"
https://www.npmjs.com/package/node-geocoder

Not urgent, but a good idea in the future!

[2017-08-10 01:59] jywarren commented on #69
Info here -- thanks! :-)

https://developer.mozilla.org/en-US/docs/Web/API/Geolocation/Using_geolocation

On Wed, Aug 9, 2017 at 5:41 AM, Mridul Nagpal <notifications@github.com>
wrote:

[2017-08-12 20:26] jywarren opened #83 "Allow setting #map HTML id in BlurredLocation constructor"
and update the README accordingly -- so that it can be used with different map elements on the same page

Thanks!

[2017-08-12 20:43] jywarren opened #84 "BlurredLocationDisplay"
I've been thinking, and I wanted to propose a change to the final stage of your work, if you're interested and you agree.

We had discussed integrating this with PublicLab.org, but instead of working on that, I was thinking that it could be better to provide a new (fairly big) feature which would make it easier to use this on PublicLab.org, and to defer the integration steps for now.

Once people

[2017-08-12 20:45] mridulnagpal commented on #84
Sure, I can try it!!

[2017-08-12 20:56] mridulnagpal commented on #84
What do you suggest a feature or a library by itself?

[2017-08-12 21:14] jywarren commented on #84
Well, what do you think of my proposed method above? Can you initialize BlurredLocation() without providing the HTML inputs, and will it cause errors? I guess perhaps this is a different function and could be provided via a separate library to keep things really distinct. Which makes more sense to you?

[2017-08-12 23:05] mridulnagpal commented on #84
For BlurredLocation() I need a number of html DOM elements I have set up inside of it, so yes it will give errors. Easier way would be adding it as a feature, but if you can think of any other I will be happy to learn!!

[2017-08-12 23:06] #83 closed

[2017-08-12 23:22] #75 closed

[2017-08-12 23:22] #69 closed

[2017-08-12 23:23] mridulnagpal commented on #63
Any more changes required?

[2017-08-13 00:14] jywarren commented on #63
I think we're good for now.

On Aug 12, 2017 7:23 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-08-15 21:34] mridulnagpal commented on #84
@jywarren So I looked into ways of making this work without html but couldn't. Should I make it as a new feature or do we need to stick to a different library only?

[2017-08-16 13:51] jywarren commented on #84
What do you think of moving the constructor itself into a submethod like
BlurredLocation.Input() vs BlurredLocation.Layer()?

On Aug 16, 2017 12:34 AM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-08-16 13:54] jywarren commented on #84
Or if there really is no shared code between the input library (that you've
completed) and the new display library, let's make a separate lib called
BlurredLocationDisplay, what do you think?

On Aug 16, 2017 4:51 PM, "Jeffrey Warren" <jeff@unterbahn.com> wrote:

[2017-08-17 06:30] mridulnagpal commented on #84
Can you create a new repo for the same? For the new lib?

[2017-08-18 08:58] mridulnagpal commented on #84
@jywarren What all things do you want me to do before the deadline, as I
recieved a mail from google regarding submission

On 16-Aug-2017 7:24 PM, "Jeffrey Warren" <notifications@github.com> wrote:

[2017-08-20 07:48] mridulnagpal commented on #84
@jywarren Haven't heard from you in a while so creating a repo on my own
and setting it up. Please reply ASAP

On 18-Aug-2017 2:28 PM, "Mridul Nagpal" <mridulnagpal07@gmail.com> wrote:

@jywarren What all things do you want me to do before the deadline, as I
recieved a mail from google regarding submission

On 16-Aug-2017 7:24 PM, "Jeffrey Warren" <notifications@github.com> wrote:

[2017-08-20 07:50] jywarren commented on #84
Please do, and call it Leaflet.BlurredLocationDisplay for now!

On Aug 20, 2017 10:48 AM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-08-20 07:53] jywarren commented on #84
Ok I did it!

https://github.com/publiclab/Leaflet.BlurredLocationDisplay

On Aug 20, 2017 10:50 AM, "Jeffrey Warren" <jeff@unterbahn.com> wrote:

[2017-08-20 07:55] mridulnagpal commented on #84
Thanks ! :)

On 20-Aug-2017 1:23 PM, "Jeffrey Warren" <notifications@github.com> wrote:

[2017-08-21 21:13] mridulnagpal commented on #1
@jywarren Which link do I send as my GSoC evaluation?

[2017-08-21 21:19] jywarren commented on #1
There's a discussion by email going on about this. I think a research note
posting which links to this would be ideal.

On Mon, Aug 21, 2017 at 5:13 PM, Mridul Nagpal <notifications@github.com>
wrote:

[2017-08-21 21:22] mridulnagpal commented on #1
Sure, on it! What all things you want to be done before the deadline?

[2017-08-21 21:24] jywarren commented on #1
Do you think it's realistic to complete a basic version of the Display
library by then?

On Mon, Aug 21, 2017 at 5:22 PM, Mridul Nagpal <notifications@github.com>
wrote:

[2017-08-21 21:28] mridulnagpal commented on #1
I will try my best, we can atleast have some basic functionalities.

[2017-08-26 20:56] ananyo2012 commented on #9
Can we add a `fto-candidate` label here?

[2017-08-27 13:13] mridulnagpal commented on #9
Yeah sure !

On 27-Aug-2017 2:26 AM, "Ananyo Maiti" <notifications@github.com> wrote:

Can we add a fto-candidate label here?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/publiclab/leaflet-blurred-location/issues/9#issuecomment-325161470>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AVULlJOo

[2017-08-27 22:31] warborn commented on #9
Hi, i would like to take this if it's still available, i set up the repo locally but i can't find the object.js file where the function should be added and examples.html file where the button should be added, for now, i added the changes to the examples/index.html file and maked them work as expected.

[2017-08-27 22:36] mridulnagpal commented on #9
The code has been restructured a bit. You will need to add the `displayLocation()` method to src/blurredLocation.js which comprises of the main object blurredLocation, and then return the object adding the method to it, i.e for the last part in src/blurredLocation.js add the method to the object as follows:

`
return {
...
...
displayLocation: displayLocation,
}
'

[2017-08-27 23:27] warborn commented on #9
Thanks for the info! I've created a new pull request

[2017-08-28 16:26] jywarren commented on #63
Can we update this to clarify the exact correlation between zoom and precision and human-readable placename? See how in my most recent README explanations, i walk through the relationship between precision and decimal places and zoom level; we could do the same (with a table of what precisions relate to what human readable location "scales" like city, state, country) for this. We should probably s

[2017-08-28 22:02] #22 closed

[2017-08-28 22:02] #9 closed

[2017-09-02 17:18] jywarren opened #90 "Add "Get involved" with welcoming text to README"
and link to `help-wanted` and `first-timers-only` issues by label

🎉

[2017-09-02 17:21] jywarren commented on #1
OK, i went ahead and released: https://www.npmjs.com/package/leaflet-blurred-location `v1.1.0` -- now we have to be careful following semver.org!

[2017-09-02 17:27] mridulnagpal commented on #1
Cheeersss !!!!!

On 02-Sep-2017 10:51 PM, "Jeffrey Warren" <notifications@github.com> wrote:

OK, i went ahead and released: https://www.npmjs.com/package/
leaflet-blurred-location v1.1.0 -- now we have to be careful following
semver.org!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/publiclab/leaflet-blurred-location/issu

[2017-09-02 17:27] jywarren commented on #1
GitHub release is done -- but the `npm publish` isn't going very fast. Please give me a little more time to do this from a good internet connection...

https://github.com/publiclab/leaflet-blurred-location/releases/tag/v1.1.0 is good

[2017-09-02 17:29] mridulnagpal commented on #1
Sure :-)

On 02-Sep-2017 10:57 PM, "Jeffrey Warren" <notifications@github.com> wrote:

[2017-09-02 17:30] jywarren commented on #1
whoa, apparently it's 18mb... not sure why but that's a lot. Taking a while.

[2017-09-02 17:32] jywarren commented on #1
ok! done!

[2017-09-02 17:33] jywarren commented on #1
Cool, if you want to give an update on the display library i'd love to catch up!

[2017-09-04 04:17] mridulnagpal commented on #1
It's in an initial phase with basic functioning. So let's work on it then!!

[2017-09-19 23:09] jywarren opened #91 "Be careful not to use variable name "location" -- it's a reserved word in JavaScript"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-09-22 05:55] brissettdwayne commented on #91
I want to claim this issue.

[2017-09-22 11:27] jywarren commented on #91
That'd be great! Please tell us if you have any questions! Thanks!

On Sep 22, 2017 1:55 AM, "Dwayne Brissett" <notifications@github.com> wrote:

[2017-09-22 22:22] #91 closed

[2017-09-28 16:00] jywarren opened #93 "Uncaught Error: Invalid LatLng object: (NaN, NaN) when zooming out"
I see this error at https://publiclab.org/locations/form when i start zooming the map. @mridulnagpal - any idea why?

[code]

[2017-09-29 14:32] jywarren opened #94 "Map should show marker, not rectangle, when blurring is off"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-09-29 14:33] jywarren commented on #94
@mridulnagpal @ryzokuken could this make a good one for newcomers?

[2017-09-29 14:41] mridulnagpal commented on #94
Yeah sure, something like enableCenterMarker on disabling isBlurred, sounds
about right?

On 29 September 2017 at 20:03, Jeffrey Warren <notifications@github.com>
wrote:

[2017-09-29 15:52] jywarren commented on #94
Yes!

On Sep 29, 2017 10:41 AM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-10-24 20:26] jywarren opened #95 "Add +/- zoom buttons to Leaflet map"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-10-24 22:01] Bubblemelon commented on #95
Hi, I have not contributed to Public Lab before, and would like to claim this issue. :)

[2017-10-24 22:07] Bubblemelon commented on #95
@jywarren I'm also wondering how you put the checkmark on the list item?

[2017-10-24 22:15] Bubblemelon commented on #95
The checkmarks weren't clickable for me.

Here are some articles about it that I thought were helpful:
[https://help.github.com/articles/about-task-lists/](https://help.github.com/articles/about-task-lists/)
[https://github.com/blog/1375-task-lists-in-gfm-issues-pulls-comments](https://github.com/blog/1375-task-lists-in-gfm-issues-pulls-comments)

[2017-10-24 22:39] jywarren commented on #95
Hi! Yes please - we'd love your help. It's true, the checkboxes are not
💯... I can check them for you and/or invite u to be a contributor.
Thanks!!!

On Oct 24, 2017 6:15 PM, "Cheryl Fong" <notifications@github.com> wrote:

The checkmarks weren't clickable for me.

Here are some articles about it that I thought were helpful:
https://help.github.com/articles/about-task-lists/
https://github.com/blo

[2017-10-26 10:54] arjbholu commented on #94
I want to take this issue @jywarren .

[2017-10-26 20:39] #95 closed

[2017-10-28 06:49] kidboyks commented on #94
Hi ,

Can I take up this issue?

Thanks,
Nikhil

[2017-10-28 08:02] ryzokuken commented on #94
Hey, @kidboyks! Sure, go ahead. In case you face any issues, feel free to ask.

[2017-10-28 11:48] kidboyks commented on #94
HI @ryzokuken,

I have modified the setBlurred to call updateRectangleOnPan(); Which enables and diisables the marker and the shade accordigly.

Thanks,
Nikhil

[2017-10-28 12:11] kidboyks commented on #94
How do I push my code to this repo? I have my changes ready on local repo. Should I be creating a new branch?

[2017-10-28 16:23] ryzokuken commented on #94
Yes. Update your master, make your changes on a branch and make a PR from your branch to our master. Thanks.

[2017-10-28 16:44] kidboyks commented on #94
Apologies,

Looks like i have no permisions to create a new branch nor to push to an existing branch. Could you help me out.

Thanks

[2017-10-28 16:45] ryzokuken commented on #94
@kidboyks you surely don't for this repository. You would need to fork this one and make changes to your own copy.

[2017-10-28 16:46] kidboyks commented on #94
oh okay thank you :)

[2017-10-30 22:19] jywarren commented on #94
Fixed in #97! Thank you so much, @kidboyks -- we're so happy to have your help. Do any other issues look interesting?

https://github.com/publiclab/leaflet-blurred-location/issues

[2017-10-30 22:22] #94 closed

[2017-10-30 22:23] #2 closed

[2017-10-30 22:24] #63 closed

[2017-10-30 22:35] jywarren opened #98 "clarify correlation between zoom, precision, + human-readable placename in docs"
We should clarify the exact correlation between zoom and precision and human-readable placename.

See how in the README, we walk through the relationship between precision and decimal places and zoom level; we could do the same (with a table of what precisions relate to what human readable location "scales" like city, state, country) for this.

We should probably start by making a table which lays

[2017-10-30 22:35] jywarren commented on #98
@ebarry does this make sense to you?

[2017-10-30 22:42] jywarren opened #99 "truncate unblurred lat/lon to reasonable precision"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-10-30 22:44] jywarren commented on #63
Moving to documentation issue in #98

[2017-10-30 22:51] ebarry commented on #98
Yes, this makes sense, and you're talking about for the wiki, right?

[2017-10-30 23:00] jywarren commented on #98
Both the wiki and the README file could feature this :-)

wiki maybe at https://publiclab.org/wiki/location-privacy

On Mon, Oct 30, 2017 at 6:51 PM, Liz Barry <notifications@github.com> wrote:

[2017-10-30 23:18] fers490 commented on #99
I would like to work on this one

[2017-10-31 01:40] mridulnagpal commented on #93
Made a PR most probably this was because it was sending NaN values in bounds to call rectangle. Added some sort of a filter to avoid that in PR #101

[2017-10-31 06:21] kidboyks commented on #94
Thank you so much for making my first PR experience really smooth. Will
checkout the issues and let you know:)

On 31-Oct-2017 3:49 AM, "Jeffrey Warren" <notifications@github.com> wrote:

[2017-10-31 17:12] jywarren commented on #99
Nice! Solved by @fers490 in #100 -- thanks so much! 🎉

[2017-10-31 17:12] #99 closed

[2017-10-31 18:14] jywarren commented on #93
solved in #101!

[2017-10-31 18:14] #93 closed

[2017-10-31 21:06] jywarren opened #105 "re-calculate coordinates when changing isBlurred"
In the demo, when you click the checkboxes to turn blurring on and off, it doesn't trigger a recalculation of the coordinates: https://publiclab.github.io/leaflet-blurred-location/examples/

That's bad because if someone checked "blur my location" then immediately saved the location, it wouldn't be blurred!

We should trigger recalculation here:

https://github.com/publiclab/leaflet-blurred-locati

[2017-11-06 17:51] jywarren opened #107 "bounding boxes wrong when precision is 10x"
As shown in this screenshot, when you zoom out so that the grid squares are 10x10 degrees, the bounding area gets drawn incorrectly:

![screenshot 2017-11-06 at 11 47 56 am](https://user-images.githubusercontent.com/24359/32455673-8a84a2fa-c2e8-11e7-802b-8625d0b8b918.png)

To reproduce, zoom out from the default view in the demo.

https://publiclab.github.io/leaflet-blurred-location/examples/

The

[2018-01-03 09:29] mridulnagpal commented on #107
I can have a go at it

[2018-01-03 12:28] jywarren commented on #107
Awesome!

On Jan 3, 2018 4:30 AM, "Mridul Nagpal" <notifications@github.com> wrote:

[2018-01-04 21:27] jywarren commented on #107
Solved in #108!

[2018-01-04 21:27] #107 closed

[2018-01-04 21:30] jywarren commented on #105
Hi, @mridulnagpal - do you have any time to try taking this one on? I'd like to complete this and release a new version!

[2018-01-05 04:42] mridulnagpal commented on #105
On it right away !!

On 05-Jan-2018 3:01 AM, "Jeffrey Warren" <notifications@github.com> wrote:

[2018-01-05 14:20] jywarren commented on #105
Awesome!!!

On Jan 4, 2018 11:43 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2018-01-08 17:47] mridulnagpal commented on #105
Isn't it called at the end of the setBlurred method?

[2018-01-08 20:56] jywarren commented on #105
I think we need to visually see the decimals truncated under `By entering co-ordinates` -- so there's clear feedback to the user that blurring is now on -- and to ensure that the truncated digits don't get submitted, right? Thank you, Mridul!

[2018-01-09 04:53] mridulnagpal commented on #105
Awesome!!

[2018-01-16 20:00] jywarren opened #109 "precision seems to be overall # of digits, instead of digits after '.'"
See here:

![screen shot 2018-01-16 at 2 58 24 pm](https://user-images.githubusercontent.com/24359/35009546-e02856b2-facd-11e7-8bc7-d3ba16621dd2.png)

Can we confirm and fix this? It should show the same number of decimals after the '.' for both lat and longitude. Any help appreciated!

[2018-02-04 16:45] jywarren opened #110 "Progress indicators for "Auto-locate me" and "Search by place name" fields"
We should display a spinner, like `<i class="fa fa-spinner fa-spin"></i>` before the button text when you press `Auto-locate me` -- and maybe one to the right of the place name field -- when it starts searching for you. Right now, it's hard to see that it's doing anything.

The function run when geocoding a string placename is here:

https://github.com/publiclab/leaflet-blurred-location/blob/e802c

[2018-02-10 05:37] mridulnagpal commented on #110
On it!!

[2018-02-10 15:02] jywarren commented on #110
Awesome, and there are a couple other issues @ebarry filed in plots2 that I
think could use some help -- if you have a little time!

https://github.com/publiclab/plots2/issues/2243

And I think there was another related to searching for country names.

On Feb 10, 2018 12:37 AM, "Mridul Nagpal" <notifications@github.com> wrote:

[2018-02-10 15:03] jywarren commented on #110
Yes, here! https://github.com/publiclab/plots2/issues/2187

On Feb 10, 2018 10:02 AM, "Jeffrey Warren" <jeff@unterbahn.com> wrote:

[2018-02-15 21:26] jywarren opened #112 "on re-checking "blur my location" box, red square malfunctions"
(reposting on behalf of @ebarry from https://github.com/publiclab/plots2/issues/2243)

### Please describe the problem

This is a bug related to Geographic Features https://github.com/publiclab/plots2/issues/1416

I used the "Link with location" feature:
- I navigated to the location i was interested in
- i browsed with the default of "blur my location"
- i unchecked "blue my location"
- i re-chec

[2018-02-21 18:26] sagarpreet-chadha commented on #112
Hi @jywarren , @ebarry 😄 !
I would like to work on it . Thanks !

[2018-02-21 18:50] sagarpreet-chadha commented on #105
Hi @jywarren , can i try to solve this one ? Thanks !

[2018-02-21 19:11] jywarren commented on #105
that'd be great!!

On Wed, Feb 21, 2018 at 1:51 PM, Sagarpreet Chadha <notifications@github.com

[2018-02-23 20:48] jywarren opened #115 ""Get my location" input in demo should be a button, not input"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://publiclab.github.io/community-toolbox/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a

[2018-02-23 20:58] jywarren opened #116 "Various interactions can result in incorrect location"
This needs to be broken out further, but is mostly due to hard-to-predict user interface sequences. One example is:

1. open the demo:
2. enter `577 somerville ave` and click enter
3. pan slightly, moving the map center but not changing the "box" that's highlighted
4. turn off "blur my location" with the checkbox
5. zoom in by double clicking 5 times or so but not exactly on the marker

So, this s

[2018-02-23 21:00] jywarren opened #117 "Reverse geocode while you drag"
So, in the demo (https://publiclab.github.io/leaflet-blurred-location/examples/) - display textual location like "Buffalo, NY" when you pan the map over that city, using `getPlacenameFromCoordinates()`. That'll help a bit in cases of #116.

https://github.com/publiclab/leaflet-blurred-location/blob/59220e0fbab4ab3f76b53bcee936ab934458e82a/src/blurredLocation.js#L107

Isn't this supposed to be happ

[2018-02-23 21:01] jywarren commented on #117
I think this used to work. But perhaps it's become broken. We should fix it, then write a test to protect this behavior!

https://github.com/publiclab/leaflet-blurred-location/blob/d10f7e74f032f12d7f83044b484bee495f47df86/src/ui/Interface.js#L25-L35

[2018-02-23 21:08] jywarren commented on #117
This DOES work already -- but only if you don't type anything into the initial location box. It's an interface issue -- resolving in #116.

[2018-02-23 21:08] #117 closed

[2018-02-23 21:13] jywarren commented on #116
OK -- reverse geocoding DOES work. It's more subtle than that.

1. open [the demo](https://publiclab.github.io/leaflet-blurred-location/examples/)
2. begin dragging the map, see the bottom location box fill

But then break it:

1. type "germany" into the top input
2. pan again, and the bottom remains "Germany"

Originally this was to ensure that the placename entered above "takes precedence" over

[2018-02-24 05:50] amitsin6h commented on #115
would like to work on this

[2018-02-24 05:53] jywarren commented on #115
That'd be great! I'm happy to help!

On Feb 24, 2018 12:50 AM, "Amit singh" <notifications@github.com> wrote:

[2018-02-24 06:03] amitsin6h commented on #115
@jywarren could help me, how to run project locally

[2018-02-24 09:53] sagarpreet-chadha commented on #115
Hi @amitsin6h   ,
1.) Have you forked the project ?
2.) Then run `npm install` in that directory .
3.) Also you may need to install `gruntjs` .

Thanks :)

[2018-02-25 06:45] amitsin6h commented on #115
@jywarren could you help to know how to run project locally

[2018-02-26 15:58] jywarren opened #119 "Better testing for different features, especially interface code"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://publiclab.github.io/community-toolbox/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a

[2018-02-26 21:20] jywarren commented on #115
Hi, if you open the index.html file in a browser, you'll be able to try it out. Hope that helps!

[2018-02-27 05:05] amitsin6h commented on #115
@jywarren please look after the #120

[2018-02-28 04:19] mridulnagpal commented on #119
@jywarren I can try breaking it to first timer issue

[2018-02-28 04:57] mridulnagpal commented on #115
@jywarren Is this done, or there is something to add?

[2018-02-28 05:12] mridulnagpal commented on #112
@jywarren @sagarpreet-chadha Got the bug, posted a PR for the same, please have a look!!

[2018-02-28 05:44] sagarpreet-chadha commented on #112
Hi @mridulnagpal !

I think this issue is resolved in #114 .
Sorry about that ,  I should have linked that PR to this issue .

[2018-02-28 05:51] mridulnagpal commented on #112
Awesome!!

[2018-02-28 05:52] mridulnagpal commented on #112
@jywarren Should we close the issue for now then?

[2018-02-28 05:54] mridulnagpal commented on #109
Resolved!!

![image](https://user-images.githubusercontent.com/22350740/36772105-ed2d395e-1c79-11e8-8897-90a0a594c220.png)

[2018-03-01 06:24] amitsin6h commented on #115
@mridulnagpal its done. @jywarren I think we should cols this issue

[2018-03-01 15:10] jywarren commented on #115
Ah yes! If you add "fixes #____" in your PR description it'll automatically close the related issue. Thanks!!!

[2018-03-01 15:10] #115 closed

[2018-03-01 15:11] amitsin6h commented on #115
@jywarren sorry from next time I will take care of this.

[2018-03-01 15:17] jywarren commented on #115
No problem! Just a tip! 😄

[2018-03-01 15:20] amitsin6h commented on #115
@jywarren yeah but it would have not created confusion to other user.

[2018-03-13 14:21] ebarry commented on #116
Here's a gif of related behavior:
![location-dragging](https://user-images.githubusercontent.com/161439/37347404-25832bfa-26a8-11e8-92f4-d50a037b85f6.gif)

[2018-03-13 14:24] jywarren commented on #116
Hi Liz, this seems like an unrelated issue, actually -- would you mind opening a new issue with this? Thank you!

[2018-03-13 14:50] ebarry opened #125 "Unexpected map behavior while zooming and panning"
Hi Location Team!
Love this feature. I am so happy tagging myself and people by blurred location, it helps show our global community, and will help us be stronger locally!

So that other people don't get confused by some unexpected behavior of the grid map, i captured a gif of an issue i experienced, some wayward behavior while dragging:
![location-dragging](https://user-images.githubusercontent.c

[2018-03-14 00:20] jywarren commented on #105
Hi! I just want to re-open this because it seems that while unchecking will return to full resolution, once you then start to drag, it gets stuck in the previous state.

[2018-03-14 00:21] jywarren commented on #105
So when you uncheck "blurred" it shows very precise coordinates, but then dragging the map blurs the location again even though the checkbox is not checked!

[2018-03-14 15:13] sagarpreet-chadha commented on #105
Extremely sorry !

Thats strange , the changes works fine on my local project . Will try to fix this ASAP .

[2018-03-14 19:43] jywarren commented on #105
Np! It happens, thanks!!

On Wed, Mar 14, 2018, 11:14 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-03-23 05:07] mridulnagpal commented on #109
Should we close this @jywarren ?

[2018-04-08 12:56] mridulnagpal commented on #125
@jywarren It does not do the same with the demo, I am a little confused. How is this possible? Any ideas?

[2018-04-08 12:56] mridulnagpal commented on #119
@jywarren Do you have any other UI tests in mind? I will create FTOs for the same

[2018-04-14 18:09] jywarren opened #128 "geocode by string UI bugs"
I documented some odd interactions using this in Firefox Android:

https://youtu.be/RIzGO3RSjuY

Three are:

1. Searching for New Delhi doesn't seem to pan the map
2. Zooming out results in a misdrawn red square
3. Finger panning then doesn't seem to work

This was on Publiclab.org and should be checked against the latest demo here!

Needs more thorough documentation and breaking up!

[2018-04-15 10:29] mridulnagpal commented on #128
@jywarren panning and boxes are okay in the demo but seem to break apart in the publiclab integration. Is the latest demo integrated with publiclab?

[2018-04-15 13:10] jywarren commented on #128
Oh thanks! I think it's probably a version behind so we can try upgrading!

On Sun, Apr 15, 2018, 6:29 AM Mridul Nagpal <notifications@github.com>
wrote:

[2018-04-16 21:25] jywarren commented on #128
from these changes?
https://github.com/publiclab/leaflet-blurred-location/pull/96/files

On Mon, Apr 16, 2018 at 4:22 PM, Jeffrey Warren <jeff@unterbahn.com> wrote:

[2018-04-16 21:26] jywarren commented on #128
oh indeed, we're on 1.1.5 instead of 1.1.12... not sure why! I'll ask
Sebastian to change this.

On Mon, Apr 16, 2018 at 4:25 PM, Jeffrey Warren <jeff@unterbahn.com> wrote:

[2018-04-17 21:48] mridulnagpal commented on #128
#129

[2018-04-17 21:48] mridulnagpal commented on #125
#129

[2018-04-17 21:59] mridulnagpal commented on #116
@jywarren Currently it would simply take in the location from lat,lng and display it. For recenter display, we need some bounds. For instance if I search New York, after what displacement should it show recenter display? #129

[2018-04-18 23:40] jywarren commented on #125
Perhaps this is because the live site is not yet at the right version. Can you ping `@icarito` about https://github.com/publiclab/plots2/issues/2625 in the chatroom? http://publiclab.org/chat

Thank you!

[2018-04-26 12:53] jywarren opened #130 "Make progress on good code formatting and style with CodeClimate"
https://codeclimate.com/github/publiclab/leaflet-blurred-location has a bunch of suggestions to improve the code base -- let's plan for some of this over the summer!

[2018-04-26 12:57] jywarren commented on #130
@mridulnagpal -- this is a great resource for making code more maintainable and readable. I know you're working on a few things already but keep this in mind in your summer schedule! It has a lot of good potential first-timers-only issues you could make as well.

[2018-05-03 00:35] mridulnagpal commented on #130
Awesome, on it!!

[2018-05-03 00:39] mridulnagpal commented on #125
Hey @jywarren , does the update work?

[2018-05-03 15:40] jywarren commented on #125
It seems not -- we are on `v1.1.12` here: https://publiclab.org/lib/leaflet-blurred-location/package.json

And yet when testing this out on this page (zooming out 1 zoom level and mouse-panning right), i see something very similar to what Liz documented. If we can resolve the last issue in #129 we can merge that and that may fix it, no?

[2018-05-11 13:42] jywarren commented on #125
Published the new `v1.1.13` to both to `gh-pages` demo site AND to http://publiclab.org -- and this is REALLY GREAT. I tested a bunch of interactions and saw this solved. There are a few minor lag issues here and there but this version is a really really big improvement on all issues. Closing, but please test it out!

[2018-05-11 13:42] #125 closed

[2018-05-31 09:39] mridulnagpal commented on #128
@jywarren Is this done, or we need to add something?

[2018-05-31 09:40] mridulnagpal commented on #112
@jywarren Is this done?

[2018-05-31 09:43] mridulnagpal commented on #109
@jywarren Is this done?

[2018-05-31 11:28] jywarren commented on #112
Yes! Thanks!!!!!

[2018-05-31 11:28] #112 closed

[2018-05-31 11:29] jywarren commented on #109
Yes I believe so.  Thanks!!!

[2018-05-31 11:29] #109 closed

[2018-05-31 11:30] jywarren commented on #128
Yes!!!

[2018-05-31 11:30] #128 closed

[2018-06-05 22:37] mridulnagpal commented on #116
@jywarren Is this still an issue?

[2018-06-05 22:39] mridulnagpal commented on #119
@jywarren We have basic UI tests, do you have any more in mind?

[2018-06-05 22:40] mridulnagpal commented on #81
@jywarren Should we start with this as well?

[2018-06-06 19:31] jywarren commented on #116
This is done!

[2018-06-06 19:31] #116 closed

[2018-06-06 19:34] jywarren commented on #105
I believe this is still an issue -- I confirmed in the demo. @mridulnagpal would you have some time to try this and see if we can ensure the blurring of the actual numbers displayed gets shown when the blur checkbox is unchecked?

[2018-06-06 19:34] jywarren commented on #24
Is this complete then? I don't see any particular bug in usability from it?

[2018-06-06 20:11] jywarren commented on #81
Yes, this looks great!

[2018-06-06 20:50] mridulnagpal commented on #105
Sure on it!!

[2018-06-06 22:15] jywarren commented on #130
This is also a great next step. Let's get that score up!

[2018-06-06 22:24] jywarren opened #134 "Consider a way to quantify how blurry your location is in words"
Let's make a new function that returns the human readable resolution, so like:

"3 kilometers" or "100 kilometers"

Which corresponds to the average of grid height and width at a given latitude/longitude (since these sizes change based on latitude)

So it'd be a function that accepts:

`resolutionInWords(latLon, metric)` where latLon is a Leaflet point and metric is a boolean, default true.

We co

[2018-06-06 22:26] jywarren commented on #98
Related to #134

[2018-06-06 22:27] #24 closed

[2018-06-06 22:30] jywarren opened #135 "brainstorm example code for use with other applications or systems"
Like Ushahidi, maybe WordPress or something?

[2018-06-06 22:33] jywarren opened #136 "develop UI ideas to encourage people to enter their location on PublicLab.org"
With @publiclab/community-reps -- perhaps part of the trickle onboarding process?

Could we prompt people who have recently joined the site? Or could we show "see updates near you" or "this post was by someone near _______" - add your own location to see content near you"?

[2018-06-06 22:34] jywarren commented on #110
Hi! We could repeat the spinner code for the search-by-placename feature, no?

[2018-06-06 22:35] jywarren commented on #90
And install @first-timers-bot!

[2018-06-06 22:35] jywarren commented on #90
Oh it's already installed!  https://github.com/publiclab/leaflet-blurred-location/settings/installations

[2018-06-06 22:36] jywarren commented on #90
Have you used it @mridulnagpal ?

[2018-06-06 23:34] jywarren commented on #119
We might add one to try to simulate the steps described in https://github.com/publiclab/leaflet-blurred-location/issues/105 -- i.e. move to a location using a Leaflet `panTo()` command, then use jQuery to uncheck the "blurred" checkbox, then use `panTo()` again, and see if we can use the test to demonstrate that the displayed fields are not properly truncated. This would be a great test!

[2018-06-08 15:59] mridulnagpal commented on #105
@jywarren So basically we should show full lat/lng when setBlurred is unchecked right?

[2018-06-08 16:12] mridulnagpal commented on #105
Is this good?
![recalculation](https://user-images.githubusercontent.com/22350740/41168892-dce737d6-6b64-11e8-9931-c753f8296a8a.gif)

[2018-06-08 16:32] jywarren commented on #105
yeah exactly!

On Fri, Jun 8, 2018 at 12:13 PM Mridul Nagpal <notifications@github.com>
wrote:

[2018-06-09 18:52] mridulnagpal commented on #105
Awesome lets merge it then!!

[2018-06-09 18:58] mridulnagpal commented on #134
For 1 lon we have 111.32km and 1 lat we have 110.57.So we can have a basic km range, for instance precision = 0 implies 110km, precision = 1 implies about 11km and so on, what do you think @jywarren ?

[2018-06-09 18:59] mridulnagpal commented on #135
Sounds really good, so how do we start at it?

[2018-06-09 18:59] mridulnagpal commented on #119
Will add a test for isBlurred as soon as the PR is merged

[2018-06-10 11:42] mridulnagpal commented on #134
There is also a method available in Leaflet plugin
![image](https://user-images.githubusercontent.com/22350740/41201223-5c92b5ce-6cd1-11e8-8832-32f7f120914c.png)
Bottom left

[2018-06-11 14:23] jywarren commented on #134
Oh wow! Let's look into the Leaflet conversions because it will change based on latitude -- the same precision number will be a longer distance near the equator, you know?

[2018-06-11 14:48] jywarren commented on #135
I think we can just collect ideas here gradually. Maybe there's a WordPress
plugin this could become part of. Or Ushahidi. If we find a good match we
can build out a README section.

On Sat, Jun 9, 2018 at 2:59 PM Mridul Nagpal <notifications@github.com>
wrote:

[2018-06-12 09:14] mridulnagpal commented on #135
Sounds awesome!! Would love that!!

[2018-06-12 09:20] mridulnagpal commented on #134
The metrics on the bottom left are provided by Leaflet only. Its Leaflet's conversion only

[2018-06-12 09:32] mridulnagpal commented on #105
Is this done?

[2018-06-12 09:33] #105 closed

[2018-06-12 09:33] jywarren commented on #105
Yes!!! :+1:

[2018-06-12 10:33] mridulnagpal commented on #119
@jywarren Added a test #138

[2018-06-12 12:56] jywarren commented on #90
So if you push a branch that starts with `first-timers...` the bot will make a friendly issue guiding a newcomer through the steps to implement. Give it a try? And then you can leave a comment explaining a bit of why the changes are important, or what they do.

[2018-06-12 12:58] jywarren commented on #134
Can you link us to the code that drives it?

On Tue, Jun 12, 2018, 5:21 AM Mridul Nagpal <notifications@github.com>
wrote:

[2018-06-12 15:46] mridulnagpal commented on #134
https://leafletjs.com/reference-1.3.0.html#control-scale, I used this to add it.

[2018-06-12 16:20] jywarren commented on #134
See if you can link to the source code for that?

On Tue, Jun 12, 2018, 10:47 AM Mridul Nagpal <notifications@github.com>
wrote:

[2018-06-12 16:37] mridulnagpal commented on #134
I think its this https://github.com/Leaflet/Leaflet/blob/master/src/control/Control.Scale.js#L67

[2018-06-15 10:47] mridulnagpal commented on #134
@jywarren Should we use this method or create one of our own?

[2018-06-15 11:12] mridulnagpal commented on #90
@jywarren Something like #139 ?

[2018-06-15 11:13] mridulnagpal commented on #98
@jywarren Should we start with this as well?

[2018-06-15 15:22] jywarren commented on #134
If it's possible to use this, that would be perfect. Is there API guidance
for it in the Leaflet docs?

On Fri, Jun 15, 2018 at 5:47 AM Mridul Nagpal <notifications@github.com>
wrote:

[2018-06-15 15:22] jywarren commented on #98
That would be GREAT -- and also adding a link from the location input pop-up to this page so that people can easily find it!

[2018-06-15 16:07] mridulnagpal commented on #134
This is sort of an inbuilt method which I showed in the image above. We can either use the method to get km notations on the map like the image or create a similar method to calculate km range. Here is the method to add km scale to the map.
https://leafletjs.com/reference-1.3.0.html#control-scale

[2018-06-18 18:55] jywarren commented on #134
looks like we can already get meters like this...

https://github.com/Leaflet/Leaflet/blob/88dd22cfe89a209d19c061a813e99669844a921b/src/control/Control.Scale.js#L71-L73

oh wait! how about this??

https://www.npmjs.com/package/humanize-distance

[2018-06-19 22:40] mridulnagpal commented on #134
Wow!!
Humanize distance looks awesome, working on a prototype

[2018-06-19 23:30] mridulnagpal commented on #98
Where do you think we should put that link? In a button?

[2018-06-22 11:32] mridulnagpal commented on #119
@jywarren adding test for newly added scale!!

[2018-06-29 17:05] jywarren commented on #134
This is done, right?  🎉

[2018-06-29 17:12] jywarren opened #144 "Develop other ways to describe "blurriness" amount"
Based on #134, I'd like to look at a set of words we could use to express blurriness. This may need some testing out.

Say:

| meters | urban description | rural description |
|------|------|------|
| 10 | building | house |
| 100 | block | house |
| 1,000 | neighborhood | village |
| 10,000 | district | town |
| 100,000 | county | county? |
| 1,000,000 | state, department, province | same? |
| 10

[2018-06-30 12:07] mridulnagpal commented on #144
Sure will look for an npm module

[2018-06-30 12:07] mridulnagpal commented on #134
Yes closing it

[2018-06-30 12:07] #134 closed

[2018-06-30 12:19] mridulnagpal commented on #144
Hey @jywarren tried to look for some libraries, couldn't find anything. We can create a dictionary which can be like the table you have made above

[2018-06-30 13:13] jywarren commented on #144
That sounds good; do the words I used make sense to you if you try looking
at a few places around the world at those zoom levels?

On Sat, Jun 30, 2018, 8:20 AM Mridul Nagpal <notifications@github.com>
wrote:

[2018-07-01 18:19] mridulnagpal commented on #144
Something like this?
![blurry-scale](https://user-images.githubusercontent.com/22350740/42137418-4cde91a2-7d89-11e8-9a67-ee7722cd3ca8.gif)

[2018-07-03 23:25] jywarren opened #146 "Slider-based precision slider"
Here's one more interface we could use to make location entry easy -- a slider, like:

`building -----|-----|-----|---O-|-----|-----|-----|----- country`

I bet there are some nice slider UI libraries we could use! What do you think?

[2018-07-05 03:33] mridulnagpal commented on #146
@jywarren Looks good should we go with this one?

[2018-07-05 18:33] jywarren commented on #146
I think either will need some modifications... like, it'd be great to actually show the words "building" and "country" on the slider, you know? But let's start with just a zoom slider at all. Want to try one of these and upload a gif?

[2018-07-06 12:30] mridulnagpal commented on #144
@jywarren Should we close this?

[2018-07-06 12:31] mridulnagpal commented on #146
Sure, on it!!

[2018-07-06 15:07] #144 closed

[2018-07-08 16:56] mridulnagpal commented on #146
@jywarren Tried setting it up but having some issues can we try this one? https://github.com/kartena/Leaflet.zoomslider

[2018-07-09 12:36] jywarren commented on #146
Sure, or do you think you could use a separate slider library outside the
map and just treat it as a different component? Looking for general jQuery
sliders?

On Sun, Jul 8, 2018, 12:56 PM Mridul Nagpal <notifications@github.com>
wrote:

[2018-07-31 05:11] mridulnagpal commented on #136
Let's go forward with this as well, shall we?

[2018-08-04 15:55] jywarren commented on #146
This is looking great as of #149 -- i think we should rejigger the slider so the displayed number is actually the zoom level though?

[2018-08-04 18:10] mridulnagpal commented on #146
@jywarren Did you look at the bug I told you about? Both upper and lower commands are working. The middle command also works separately, but it doesn't work in the integrated code

[2018-08-04 18:13] mridulnagpal commented on #136
![image](https://user-images.githubusercontent.com/22350740/43679257-197e10f4-9840-11e8-9726-d09292d5359f.png)
This is the prompt. We can have similar thing in plots as well.

[2018-08-05 03:16] jywarren commented on #136
Yeah, maybe on the inset sidebar maps?

On Sat, Aug 4, 2018, 2:14 PM Mridul Nagpal <notifications@github.com> wrote:

[2018-08-05 03:17] jywarren commented on #146
Hmm, can you show line numbers? What method exactly isn't working?

On Sat, Aug 4, 2018, 2:10 PM Mridul Nagpal <notifications@github.com> wrote:

[2018-08-07 23:39] #146 closed

[2018-08-07 23:45] jywarren commented on #146
Also pushed this to `gh-pages`!

[2018-08-07 23:45] jywarren commented on #146
https://publiclab.github.io/leaflet-blurred-location/examples/

[2018-08-08 10:40] mridulnagpal commented on #146
@jywarren Looks awesome!!!

[2018-10-02 06:01] avsingh999 opened #154 "add link of Publiclab.org"
add link https://publiclab.org
![sai](https://user-images.githubusercontent.com/25536022/46331593-371d4980-c636-11e8-9ec3-b948ba129f10.png)

### code link
https://github.com/publiclab/leaflet-blurred-location/blob/881799ae0596e064577d6eb600c1ff6b36807e89/examples/index.html#L31

[2018-10-02 06:04] vsk4 commented on #154
Hello, I would like to work on this issue.

[2018-10-02 06:20] avsingh999 opened #156 "Add location pointer when click get my location"
when click on get my location button location should be point on map, looks like this
![sss](https://user-images.githubusercontent.com/25536022/46332220-29b58e80-c639-11e8-8935-4484d6f9485b.png)

[2018-10-02 22:41] jywarren commented on #154
please do!

On Tue, Oct 2, 2018 at 2:05 AM SAI KUMAR <notifications@github.com> wrote:

[2018-10-02 22:42] jywarren commented on #156
Hi, Avkaran - can you explain why this is not what you expect? Thanks!

On Tue, Oct 2, 2018 at 2:21 AM Avkaran Singh <notifications@github.com>
wrote:

[2018-10-02 22:46] #154 closed

[2018-11-28 02:43] jywarren commented on #110
Hi @sagarpreet-chadha i think this is still not working properly on publiclab.org, would you mind taking a look? Thank you!

Also, the scale slider shown in the demo (which is so nice) is also not there, so maybe when you do one, you could implement both? This would be amazing!

[2018-12-03 02:49] jywarren opened #160 "Rate limit exceeded by huge number of geocode calls"
On PublicLab.org it seems to be making thousands of calls, very quickly; running through the API rate limit. Try it on https://publiclab.org/micro for example!

[2018-12-03 02:51] jywarren opened #161 "Placename-based geocoding fails to move map"
I'm seeing an error:

[code]

Also, I see:

`error_message: "Keyless access to Google Maps Platform is deprecated. Please use an API key with all your API calls to avoid service interruption. For further details please refer to http://g.co/dev/maps-no-account"`

![image](https://user-images.githubusercontent.com/24359/49350251-42174900-f67c-11e8-83f0-383cff0433dd.png)

[2018-12-03 02:51] jywarren commented on #161
I believe we need to use the API key like this:

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&language=en&key=AIzaSyAOLUQngEmJv0_zcG1xkGq-CXIPpLQY8iQ"></script>
 

[2018-12-03 02:52] jywarren commented on #161
@sagarpreet-chadha do you think you'd be able to work on this and #160? Thank you!

[2018-12-03 09:38] sagarpreet-chadha commented on #160
These 2 listeners are calling the Google Geocoding API :

1.) Called when we select from the autocomplete list :
 https://github.com/publiclab/leaflet-blurred-location/blob/7ca8da726a6818fa0926a5612a72af9d96e2e1d5/src/core/Geocoding.js#L65

2.) Called when Enter key is pressed :
 https://github.com/publiclab/leaflet-blurred-location/blob/7ca8da726a6818fa0926a5612a72af9d96e2e1d5/src/core/Geocoding.

[2018-12-15 23:31] jywarren opened #162 "integration with Gutenberg map blocks"
https://jetpack.com/support/jetpack-blocks/map-block/

[2018-12-23 11:06] sagarpreet-chadha commented on #162
Hi @jywarren , i think this is only for WordPress websites .

[2018-12-23 13:18] jywarren commented on #162
Yes and we can ignore this for now... I've been thinking about long term
using Gutenberg as part of publiclab.editor... but it's a long way off!

On Sun, Dec 23, 2018, 6:06 AM Sagarpreet Chadha <notifications@github.com
wrote:

[2019-01-07 14:43] jywarren commented on #130
Hi @gauravano and @sagarpreet-chadha -- I am thinking we might ask some new contributors interested in JavaScript to try some of these?

https://codeclimate.com/github/publiclab/leaflet-blurred-location/issues?category=complexity&engine_name%5B%5D=structure&engine_name%5B%5D=duplication lists a lot of recommendations and has tips on how to fix them:

![image](https://user-images.githubusercontent.

[2019-01-07 14:44] jywarren commented on #130
And also tests are being coordinated here: https://github.com/publiclab/leaflet-blurred-location/issues/119

[2019-01-07 14:50] jywarren commented on #119
I also just turned on test coverage reporting in CodeClimate!

[2019-01-07 17:01] jywarren commented on #110
@sagarpreet-chadha would you mind confirming that this is implemented and working on PL.org? Thank you!

[2019-01-07 17:45] sagarpreet-chadha commented on #161
Working in production ,
<img width="1440" alt="screenshot 2019-01-07 at 11 14 58 pm" src="https://user-images.githubusercontent.com/14952645/50783893-1702c380-12d2-11e9-99d5-2e531d6698c3.png">

Fixed in #163 😄 !

[2019-01-07 17:45] #161 closed

[2019-01-15 14:12] gauravano opened #166 "Add Code of conduct to the project"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-15 16:24] i-am-g2 commented on #166
I want to do this.

[2019-01-15 16:32] i-am-g2 commented on #166
#167 i have added the code of conduct file. Please review it.

[2019-01-15 18:51] gauravano commented on #166
Great! Reviewing the PR!

[2019-01-16 06:47] i-am-g2 commented on #166
@gauravano Can you please guide me through some more such a bit more complex issues?

[2019-01-16 09:08] gauravano commented on #166
You can do issues labeled as `fto-candidate` or can see more issues at https://code.publiclab.org/#r=all.
You are interested in doing issues in this repo or any other?
Thanks!

[2019-01-16 17:51] sagarpreet-chadha commented on #110
Solved here : https://github.com/publiclab/plots2/pull/4633/ .

[2019-01-21 21:28] rexagod opened #168 "Remove Geocode log"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-22 00:48] mdquigley commented on #168
Hi, I'd like to claim this issue if available please.

[2019-01-24 15:04] mdquigley commented on #168
Hi, just following up on this issue & pull request. Apologies if I've not done so properly, please let me know if that's the case!

[2019-01-24 20:12] gauravano commented on #168
Hi @mdquigley,  we would be happy to help you in any case, but you need to give your PR link here or refer the issue as Fixes #[issue-number] in your PR. Thanks!

[2019-01-29 23:04] mdquigley commented on #168
thanks @gauravano, I added the FIxes#[issue-number] tag to the PR.

[2019-01-31 17:06] jywarren opened #170 "Offer estimate of # of people per grid square"
As a guide to how anonymized a given precision will be -- using perhaps one of these data sources?

https://wiki.earthdata.nasa.gov/display/GIBS/GIBS+Available+Imagery+Products#expand-HumanDimensions15Products

Population density?

[2019-02-06 16:30] #166 closed

[2019-02-17 21:50] jywarren opened #178 "Move scale bar when zooming"
Currently, dragging the scale bar zooms the map, but not the inverse -- zooming the map should automatically move the scale bar too. We'd love help implementing this!

![image](https://user-images.githubusercontent.com/24359/52919753-8220bc00-32ba-11e9-8789-eab1334b7636.png)

Here's the slider code:

https://github.com/publiclab/leaflet-blurred-location/blob/43fae0d2f6d68fa5a37cf8c8955f1a641f03ccb

[2019-02-17 21:50] jywarren commented on #178
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-timers-only

[2019-02-18 09:02] lohitha02 commented on #178
Can I claim this issue?

[2019-02-18 09:04] gauravano commented on #178
Go ahead @lohitha02!

[2019-02-18 18:04] jywarren opened #179 "Displayed decimal precision doesn't always match grid in demo"
Some small bug is making 2 decimals appear when the grid hasn't yet divided into 2-decimal squares:

1 decimal:

![image](https://user-images.githubusercontent.com/24359/52969235-7a1d5680-3364-11e9-9548-8c0794f092e4.png)

2 decimal shown in grid labels but not in grid itself:

![image](https://user-images.githubusercontent.com/24359/52969222-6d98fe00-3364-11e9-8b84-b81796f04eff.png)

2 decimal pro

[2019-02-19 02:57] #110 closed

[2019-02-19 03:12] jywarren opened #180 "Collection of articles about location blurring, privacy, random location generation, anonymization"
## Projects

* https://eng.uber.com/h3/

## Vulnerabilities

* https://robertheaton.com/2018/07/09/how-tinder-keeps-your-location-a-bit-private/

## Miscellaneous

* https://splinternews.com/how-an-internet-mapping-glitch-turned-a-random-kansas-f-1793856052
* https://gizmodo.com/how-cartographers-for-the-u-s-military-inadvertently-c-1830758394
* https://www.washingtonpost.com/news/the-switch/wp/20

[2019-02-19 15:44] rexagod commented on #81
Currently, the request for Maps API with the `node-geocode` reverse method returns `Error: Response status code is 400
    at exports.IncomingMessage.<anonymous> (Leaflet.BlurredLocation.js:50887)
    at emitNone (Leaflet.BlurredLocation.js:31507)
    at exports.IncomingMessage.emit (Leaflet.BlurredLocation.js:31587)
    at endReadableNT (Leaflet.BlurredLocation.js:61376)
    at afterTickTwo (Leaf

[2019-02-19 17:10] rexagod commented on #81
Nevermind, it was an internal error. Working.

[2019-02-20 19:25] jywarren opened #184 "getPlacenameFromCoordinates needs API key"
`error_message: "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account"`

![image](https://user-images.githubusercontent.com/24359/53117972-ec2aa280-3500-11e9-8743-5c8d0062ae9e.png)

I think we need to allow the API key to be passed in as a constructor parameter, like:

[code]

Then the request

[2019-02-20 19:27] jywarren commented on #184
Here's where we'd want to insert the key once we have it!

https://github.com/publiclab/leaflet-blurred-location/blob/2fa357a9e121afb0d14d075bb7866bf17bed192d/src/core/Geocoding.js#L5-L7

[2019-02-20 20:12] jywarren commented on #184
Note that to generate an API key that will work, you can go to https://console.cloud.google.com/google/maps-apis/apis/geocoding-backend.googleapis.com/metrics

[2019-02-20 22:29] #184 closed

[2019-02-20 23:08] rexagod opened #186 "Cut down multiple API requests from Geocoding.js"
Currently there are two different functions sending requests to the Maps API. We should look out for options to cut down this multiple use of the API.

https://github.com/publiclab/leaflet-blurred-location/blob/51744030cd0847a0309cbbc3354482e35e17a2aa/src/core/Geocoding.js#L7

https://github.com/publiclab/leaflet-blurred-location/blob/51744030cd0847a0309cbbc3354482e35e17a2aa/src/core/Geocoding.js#

[2019-02-21 00:01] jywarren commented on #186
Ah, is this on local?

On Wed, Feb 20, 2019 at 3:08 PM Pranshu Srivastava <notifications@github.com>
wrote:

[2019-02-21 00:29] rexagod commented on #186
Yes, @jywarren, right after running `grunt jasmine`, [even on the successful ones](https://travis-ci.org/publiclab/leaflet-blurred-location/jobs/496235098).

[2019-02-23 12:21] suryanshsrivastava commented on #168
Can I take up this issue as my first PR ?

[2019-02-23 13:00] gauravano commented on #168
Hey @suryanshsrivastava, this issue is solved in #169 but the issue remained open due to missing `Fixes [issue-number]` statement in the PR's main comment. Sorry for the inconvenience. You can see more issues at https://code.publiclab.org/#r=all and if you can't find any open there, feel free to comment here. We'll try to open one for you or point you to some good-first-issue. Thank you!

[2019-02-23 13:01] gauravano commented on #168
Hey @mdquigley, thanks for adding fixes statement to your comment mike but for auto-closing of the issue on PR merge to work, you need to add the fixes statement in PR's main comment, which in your case is this one - https://github.com/publiclab/leaflet-blurred-location/pull/169#issue-246450695 . (Just a good practice suggestion). Thank you!

[2019-02-23 13:01] #168 closed

[2019-03-16 10:31] sagarpreet-chadha opened #187 "Restrict out of range input"
It's a way to restrict the input -- the creation of precision data ,
So 1)  restricts the zoom level range .,
but 2) would just make it impossible to input a location that has a precision outside the given
range.
 Thanks!

[2019-04-03 19:24] #84 closed

[2019-04-07 12:47] sagarpreet-chadha opened #193 "Make LBL object syntax same as that of standard leaflet object ."
Continued from https://github.com/publiclab/leaflet-blurred-location-display/issues/64 ,

[2019-04-08 06:36] sagarpreet-chadha opened #194 "[Bug] TypeError: getBlurryScale(...) is undefined ."
The following error occurs at lower zoom levels :

<img width="789" alt="Screenshot 2019-04-08 at 12 05 35 PM" src="https://user-images.githubusercontent.com/14952645/55703219-b3825200-59f6-11e9-975b-0ef862080689.png">

[2019-04-21 18:12] sagarpreet-chadha opened #198 "Weekly Community Check-in #19 - Express gratitude :-)"
Hello Everyone!!!

We all at Public Lab :balloon:  - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. The goal of our Community Check-In is for every community member to share something about their work from the past week and abo

[2019-04-21 18:13] HarshKhandeparkar commented on #198
@sagarpreet-chadha Emojis and other markdown doesn't work in titles.

[2019-04-21 18:16] sagarpreet-chadha commented on #198
@marieram @swiatek7 @gauravano @publiclab/reviewers @publiclab/is-reviewers @publiclab/community-reps

@subhahu123 @An0u @Jaya738 @mgroovyank @shreyateeza @TANGL3SIT3S @nazeem1988 @karunagoyalk @Nirvikalpa108 @cassianoblonski @EngrEric @Anjalizi @GettyOrawo @coderbeetle @corbettbw @govindjeevan @gautamig54 @daddyjab @emestabillo @letnewKid @srujana121 @jazdao @ChinwenduSilvia @aggarwal19 @Jennilin

[2019-04-21 18:17] sagarpreet-chadha commented on #198
@shubhi2000 @Priyak5 @vaarigupta @techchic @ananya @hc-barker @edwd42 @PritiShaw @themonster2015 @supriya-kotturu @AnthoniaOkafor @jtmims @scheleon @mahmodHammad @santushk @jillpena @stoic-plus
@vaarigupta @alonpeer @madeofhuman

[2019-04-21 18:17] sagarpreet-chadha commented on #198
@ibnjunaid @HarshKhandeparkar @aashna27 @Harshithpabbati @niravasher @mmmelissa

[2019-04-21 18:18] sagarpreet-chadha commented on #198
This week's theme is inspired from open call 😄 !
I will start , I would like to especially thanks @jywarren along with @gauravano and @SidharthBansal for helping me out whenever i get stuck .
Thank you for making my experience with PublicLab so awesome 🙌 🎈 💃  .

⭐️ ⭐️ ⭐️

[2019-04-21 18:35] cesswairimu commented on #198
Many thanks to @jywarren and @gauravano :1st_place_medal:  :1st_place_medal:  for guiding me through my first issue.
I had contributed to other open source projects but found this experience super friendly(and still is) and everyone is so polite and willing to help :raised_hands: :raised_hands:

Awesome theme @sagarpreet-chadha :tada: :tada:
Great week ahead and nice to see you all today :smile:

[2019-04-21 18:40] HarshKhandeparkar commented on #198
I would like to open the next check-in
cc @gauravano @jywarren @sagarpreet-chadha

[2019-04-21 18:46] sagarpreet-chadha commented on #198
Yes awesome @HarshKhandeparkar  👍 👍 👍

[2019-04-21 19:07] jainaman224 commented on #198
I would like to thank @gauravano, @ViditChitkara, @namangupta01 and @sagarpreet-chadha for inspiring me to be part of such an amazing community.

[2019-04-21 20:40] AnthoniaOkafor commented on #198
I want to thank @jywarren and @gauravano for their effort at making this community remarkable. My first PR was tough but @gauravano saw me through it.

[2019-04-21 21:09] sashadev-sky commented on #198
Aw love this theme! I'd like to express gratitude to PL for providing my first open source experience, and so much more along the way as I have grown in the community for 7 months now!

@gauravano for always answering all my questions, @jywarren for always making time when I need to discuss a PR and teaching me new things, @ebarry for welcoming me to co-work at the PL NY office and being so warm ❤

[2019-04-21 22:45] gauravano commented on #198
Great theme @sagarpreet-chadha!

Public Lab is the community with which I started my Open Source journey some 1 year 7 months ago. I still remember my first PR - https://github.com/publiclab/plots2/pull/1642 where I did all the silly mistakes :see_no_evil: , and @jywarren helped me out.

I got support from various people during this journey @jywarren @sagarpreet-chadha @SidharthBansal  @Souravirus

[2019-04-22 00:41] sashadev-sky commented on #198
These are so great, can we keep this one pinned forever 💯

[2019-04-22 10:42] divyabaid16 commented on #198
Hello everyone!!
It's a great theme @sagarpreet-chadha :smile:
It has been around 1.5 months that I have been contributing in Public Lab and I'm having an amazing experience. Everyone is so friendly and helpful here. It seems like I have been here for months and everything is going very smoothly.
I remember, the first issue for me was opened by @cesswairimu and she helped and guided me through the

[2019-04-22 18:13] Divy123 commented on #198
Greatings everyone!!
Awesome theme @sagarpreet-chadha . Thanks a lot for opening this.
I have been contributing to Public Lab for six months and I never felt a single day of my life when I did not get something from this beautiful community.

I would like to thank @jywarren for always helping me out despite being so busy, @tech4GT who always stood for us, the contributors and helped us to learn ev

[2019-04-23 14:04] shivam15 commented on #198
Hi All !
I have not contributed much but just two times. It was a great experience and would look forward to contribute more. 😃
I would like to thank @sashadev-sky  and @gauravano for helping in my first PR.

[2019-04-23 23:32] gautamig54 commented on #198
This is such a wonderful theme. There is so much to write here.
@sagarpreet-chadha Thank you!
Public labs is my first ever open source experience and has made me fall in love with this domain. I remember how uncertain I was, if open source is my place, but by being here I realise this is exactly where I wanted to be. Everyone here, be it mentor or fellow contributors, have always been so humble an

[2019-04-24 02:49] jywarren commented on #198
Hello everyone, this post makes me feel so emotional! I am endlessly grateful to you all for making this such a wonderful place, for giving me such renewed faith in fellow people, and strength and inspiration. It always brings a smile to my face to see people helping and cheering one another in the many comments and issues we work on together. I'm always cheered to see a newcomer have a good exper

[2019-04-24 20:36] Souravirus commented on #198
Hi everyone,
Thanks, @jywarren for the special gratitude. It means a lot to me.

I really want to express gratitude to everyone from the starting of my journey with Public Lab till now. I started with a first-timers-issue issue and I remember how quick response came from @gauravano. I never expected this from such a big organization.

Then I want to thank @sagarpreet-chadha who really helped me by

[2019-04-24 20:58] jywarren commented on #198
This was JUST MERGED!!!!! ❤️ 🙌🙌🙌🙌 ⚡️⚡️⚡️⚡️

[2019-04-24 20:59] jywarren commented on #198
Congrats, @Souravirus !!!!

It'll appear shortly on https://stable.publiclab.org and we can take the next steps.

[2019-04-25 05:49] sashadev-sky commented on #198
@shivam15 thank you for helping me with my own PR afterwards!!

[2019-04-25 19:03] skilfullycurled commented on #198
Hi everyone, sorry to be late to the gratitude party, but I love this check-in!  I hope I've gathered everyone who helped me this past week even if it was just a note of welcome.  If I missed anyone, please forgive me and feel free to respond with a "don't forget me!".  First, I want to thank everyone in the largest sense.  Although this week was my first contribution to the site, I've participate

[2019-04-25 19:51] skilfullycurled commented on #198
Hold on, I'm minimizing files...

[2019-04-25 22:10] skilfullycurled commented on #198
Okay.  Enjoy!  [web_dev_2016_2019.pdf](https://github.com/publiclab/leaflet-blurred-location/files/3119036/web_dev_2016_2019.pdf)

[2019-04-25 22:16] skilfullycurled commented on #198
PS: can someone ELI5 why the check-in is in a different place each time as opposed to just being on plots2?  Not a criticism, just peculiar.

[2019-04-25 22:38] gauravano commented on #198
It's awesome :heart_eyes: !!

We open check-in in different repos every week so that each repo gets attention, increasing activity, contributors might end-up exploring that project :sweat_smile:. Yeah, it may become tough for a user to find the check-in issue.

[2019-04-26 02:04] skilfullycurled commented on #198
I love that!  I opened an [issue](https://github.com/publiclab/plots2/issues/5624) with an idea about how we might balance the benefits of doing so while still having a central list for people to find the current and past ones.  I'm not sure the process for resolving proposals, but if people can take a look and weigh in at some point, that'd be great.  I now return us to our regularly scheduled gr

[2019-04-26 14:31] ebarry commented on #198
Wow this visualization of the range of subjects (tags) involved in + the
degree of interconnectivity of web development with the whole of Public Lab
is very expressive

Thanks Benjamin!

On Thu, Apr 25, 2019, 10:04 PM skilfullycurled <notifications@github.com>
wrote:

[2019-04-26 16:11] skilfullycurled commented on #198
Thanks @ebarry!  Completely agreed, I think it really captures the push for outreach and growth in the community.  What I also find fascinating are the changes in tool focus and in one instance a convergence between two connected by data logging.

To me, it really speaks to why the work on the [tags interface](https://publiclab.org/notes/edie_blues/01-09-2019/the-tags-page-mockup-let-me-know-what-

[2019-04-28 20:11] IshaGupta18 commented on #198
Thank you for this lovely theme @sagarpreet-chadha!

I would like to thank everyone who has worked with me and have helped me in
every step of this amazing journey. I couldn't have started my journey
without @jywarren, @SidharthBansal, @gauravano who got my first PR merged
and everyone who took me forward. @cess, has been ever-helpful and I am
sure I am missing out tons of names here, but I am tru

[2019-04-28 21:31] gauravano commented on #198
Hi @HarshKhandeparkar, you would be opening next check-in right?

[2019-04-28 22:38] rexagod commented on #198
@gauravano I'd like to open the next check-in after @HarshKhandeparkar's if no one's already booked that spot. Thanks!

[2019-04-29 00:23] skilfullycurled commented on #198
Also, @gauravano, would it be possible to add issue 5627 to the template so all new check-ins will reference the community check-ins list?  For background see the issue [here](https://github.com/publiclab/plots2/issues/5624).

Maybe after the explanation of this weeks check-in?

Or perhaps with the "new people" welcome?  I put the additional text in bold just to highlight it now, I'm not saying th

[2019-04-29 02:23] HarshKhandeparkar commented on #198
I will open this week's check-in in the evening.

On Mon 29 Apr, 2019, 5:53 AM skilfullycurled, <notifications@github.com>
wrote:

[2019-04-29 07:11] gauravano commented on #198
Sure @rexagod!

Hey @skilfullycurled, I have updated the above issue body and added the text after the check-in theme for now. Also, fixed the missing link. Thanks!

[2019-04-29 10:16] sidntrivedi012 commented on #198
Hey everyone, sorry for being late for the check-in. I have a lot of gratitude to express to everyone who has helped me out here.
Especially, @jywarren and @gauravano who helped me out and guided me whenever I needed to find a way or was stuck in any problem. Thanks a lot for solving all my queries and doubts and for showing me the path whenever I needed guidance. I would also like to thank the wh

[2019-04-29 12:22] HarshKhandeparkar commented on #198
@gauravano where should I open the next check-in?

[2019-04-29 13:25] gauravano commented on #198
At https://github.com/publiclab/spectral-workbench

[2019-04-29 13:27] HarshKhandeparkar commented on #198
Ok thanks. I will open in an hour or so.

On Mon 29 Apr, 2019, 6:56 PM Gaurav Sachdeva, <notifications@github.com>
wrote:

[2019-04-29 13:54] skilfullycurled commented on #198
@gauravano, I love that you actually found an accurate context for using for the composition book emoji. 👏

[2019-04-29 13:58] ViditChitkara commented on #198
Hello everyone, apologies for being too late!

It has been a great journey with Public Lab since the past one and a half year and there are a lot of people to whom I would like to express my gratitude. @jywarren , @icarito , @ebarry who have always been helpful and polite. @steviepubliclab , @gauravano , @namangupta01 , @jainaman224 , @sagarpreet-chadha who have constantly inspired me and helped m

[2019-04-29 15:43] HarshKhandeparkar commented on #198
New check-in open at https://github.com/publiclab/spectral-workbench/issues/451

[2019-04-29 15:43] #198 closed

[2019-09-27 21:53] jywarren opened #205 "Development of a "blurred location" specification/standard"
This standard "specification" could be used as a framework to develop libraries in other languages, and as a pattern to which to develop user interface designs. Here we are brainstorming version 1 of the specification. Comments welcome!

## Basics

The README describes in basic terms how we've implemented the concept of 'blurred location':

https://github.com/publiclab/leaflet-blurred-location#how

[2019-10-18 12:11] debck opened #207 "Add CONTRIBUTING.md"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-18 12:20] debck opened #208 "Remove Bower support"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-18 12:52] adinalini commented on #207
I would like to take this up

[2019-10-18 14:10] jonnyfluckey commented on #208
I would like to do this!

[2019-10-18 15:28] sagarpreet-chadha commented on #207
Yes please go ahead :)

On Fri, 18 Oct 2019, 18:22 Aditya Nalini, <notifications@github.com> wrote:

[2019-10-18 15:35] HarisSpahija commented on #207
Hey @adinalini need some help? I would like to chip in!

[2019-10-18 16:20] adinalini commented on #207
Sure man @HarisSpahija! Here is the link: https://github.com/adinalini/leaflet-blurred-location/blob/main/CONTRIBUTING.md I'll work on it tomorrow, feel free to chip in :D

[2019-10-18 16:40] HarisSpahija commented on #207
What is needed ono the CONTRIBUTING.md? Just in general a template on how to contribute?

[2019-10-18 17:31] ananya218 commented on #208
I would like to work on this as my OSS contribution if no one has initiated.

[2019-10-18 17:52] b3p0 commented on #207
Hey @adinalini. I added some text to your file! https://github.com/adinalini/leaflet-blurred-location/blob/main/CONTRIBUTING.md

[2019-10-20 16:50] niharika412 commented on #208
I would like to do this. I'm new to open source.

[2019-10-21 07:10] himanshunikhare commented on #208
Can I work on this issue if this is still open

[2019-10-21 13:56] Sazonova commented on #208
I would like to do that

[2019-11-26 19:49] ebarry opened #213 "Grid box selection not working between 1W and 0 degrees longitude"
Continued from https://github.com/publiclab/plots2/issues/6697#issuecomment-555565550

### The Problem

In the map picker, i was unable to choose the square for London, see gif below. The problem with the red highlight "skipping" over certain areas seems to be happening to certain longitudes, namely between 1W and 0 degrees longitude. Is there perhaps a math error involved? @jywarren observed that

[2019-12-06 14:35] nstjean opened #214 "Location search not working"
Even on the example pages when I type in a location to search the spinner keeps spinning with nothing ever resolving.

![FireShot Capture 096 - Leaflet BlurredLocation - ](https://user-images.githubusercontent.com/49460529/70330479-a5960280-180b-11ea-856b-7bbfdb1702a7.png)

I will try to figure out where the error is.

[2019-12-06 14:35] nstjean commented on #214
This is related to https://github.com/publiclab/plots2/issues/6915

[2019-12-06 14:59] nstjean commented on #214
When `var autocomplete = new google.maps.places.Autocomplete(input);` is called I am seeing this error:
```js?libraries=places&language=en&key=AIzaSyDWgc7p4WWFsO3y0MTe50vF4l4NUPcPuwE:68 You have exceeded your daily request quota for this API. If you did not set a custom daily request quota, verify your project has an active billing account: http://g.co/dev/maps-no-account  For more information on

[2019-12-06 15:24] nstjean commented on #214
So it looks like this bug is due to this: https://github.com/publiclab/leaflet-blurred-location/issues/160

[2019-12-06 19:05] sagarpreet-chadha commented on #214
Wait, @jywarren why we can see `key` in the error log? I think this may be misused and most probably someone may be using it.
Let's hide it in some config bucket or environment variable.

Thanks @nstjean for investigating :smile: !!!

[2019-12-06 19:35] nstjean commented on #214
Ohh, that's a very good point. I wonder if that's why it keeps saying exceeded daily quota? If someone else is using the key.

[2019-12-06 22:51] jywarren commented on #214
Aha, indeed. I will investigate the quota, but can one of you look at how
we're supposed to set it up so that it's not visible? I guess I'm not sure
-- it has to be in the JS code, so it'll be hard to hide, won't it?

Maybe what we need is to a) limit it to usage only from domain name
PublicLab.org and b) use a key generated from our Google Apps account (this
one may be a "free" tier one) so that

[2019-12-07 04:52] sagarpreet-chadha commented on #214
I think we can fetch the KEY from some private IP only once when our Server
starts in production and store these private keys  by making a new file
inside our repo at runtime.

Now using keys by pointing to this newly generated file.

Also to put try/catch around the lines where private keys are used so that
errors are not printed to console.

Thanks!

On Sat, 7 Dec 2019, 04:21 Jeffrey Warren, <no

[2019-12-09 14:15] nstjean commented on #214
That's a good point, can't really hide it very easily in the Javascript. I think setting restrictions and using  a try/catch block would do the trick... even if someone sees the code and gets the key they won't be able to use it.

Here's the page that specifies how to set restrictions: https://developers.google.com/maps/documentation/javascript/get-api-key

Just let me know what is the proper key

[2019-12-09 23:08] jywarren commented on #214
Hi, thanks for all this. I'm going to try to go through it carefully tomorrow. Can you start making a list of places where this happens, because we should check on the API key of each place, and make a permission for each originating domain name? Then I can go through each one and check it off and we won't miss any or have ambiguity. Make sense?

Thanks a ton!

[2019-12-10 14:36] nstjean commented on #214
Ok, I'll start making a list!

[2019-12-10 14:37] jywarren commented on #214
ah it just occurred to me that we should add permissions for Travis as
well, so we can write a system test to make sure these work and are
protected! Can you add that as a list item? Thanks!!

On Tue, Dec 10, 2019, 9:36 AM Natalie St Jean <notifications@github.com>
wrote:

[2019-12-10 14:39] nstjean commented on #214
Sure!

[2019-12-10 17:15] nstjean commented on #214
So when looking for where this error shows up I discovered it shows up on every single page.

in `plots2` we have this in application.html.erb - note that this is the only spot we are using this particular key, it's only for testing I guess.
https://github.com/publiclab/plots2/blob/319bcd0f40ffdfea83bae12866eef5baa6c8bcb6/app/views/layouts/application.html.erb#L16-L18

But we also are also declari

[2019-12-10 22:16] jywarren commented on #214
Didn't get a chance to dig into this today, i'm sorry to say. But some quick initial feedback:

1. some of those usages are just in the example files, so wouldn't be reflected in bugs on plots2 (but thanks for finding them as we may have to adjust them to fix the examples!)
2. I think the Google API key policies have changed over the years and some of these lines of code may reflect earlier ways o

[2019-12-10 22:22] jywarren commented on #214
Let's use this key, which should be limited to `publiclab.org`, `mapknitter.org` and `publiclab.github.io`: `AIzaSyAOLUQngEmJv0_zcG1xkGq-CXIPpLQY8iQ`

How do we figure out what domain Travis tests are run from? https://travis-ci.org/publiclab/plots2/jobs/623355464

[2019-12-10 22:27] jywarren commented on #214
Opening an issue with these fixes; let's push to gh-pages branch and see if it works!

[2019-12-10 22:28] jywarren commented on #214
We will have to do a similar search/replace PR on the plots2 instances!

[2019-12-10 22:33] jywarren commented on #160
Resolving in #214 with a paid-for API key limited to PL domains!

[2019-12-10 22:33] jywarren commented on #160
However, if we want to re-open for optimization, we can rename this and keep it open! Let's do that!

[2019-12-10 22:34] jywarren commented on #214
Tried the fix in https://github.com/publiclab/leaflet-blurred-location/pull/215, testing on gh-pages now!

[2019-12-10 22:43] jywarren commented on #214
OK, awesome! Fixed the main issue! Now, I'm seeing the second bug as I just reported at
https://github.com/publiclab/plots2/issues/6915#issuecomment-564290172

[code]

https://gist.github.com/jywarren/eec9fcec10528caaf463df6068846b0e

![image](https://user-images.githubusercontent.com/24359/70575401-7289a100-1b74-11ea-9275-096591f0cf43.png)

@nstjean would you like to try fixing that one? Thank yo

[2019-12-11 04:44] pythongiant opened #216 "Open a ISSUE TEMPLATE [ First Timers Only ]"
The repository currently lacks a ISSUE_TEMPLATE which is helpful to underline important topics and make issues more concise.

Here's some Links For Help:
- [Github](https://help.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository)
- [Example](https://github.com/publiclab/image-sequencer/tree/main/.github)

[2019-12-11 14:07] nstjean commented on #214
@jywarren Sure I'll do that today! :smiley:

[2019-12-11 16:06] nstjean commented on #214
This should be correct now, but I can't test it on my localhost.
https://github.com/publiclab/leaflet-blurred-location/pull/217

[2019-12-11 17:02] sagarpreet-chadha commented on #214
Hey you can push this PR to gh-pages of LBL.
As @jywarren mentioned above the API key is valid for domain: publiclab.github.io
You can test this by checking into gh-pages branch in LBL and adding your changes in that branch and pushing it (if you do not have push access to gh-pages branch, you can make a new PR against gh-pages branch and i will merge it) 😄

[2019-12-11 17:07] nstjean commented on #214
Oh ok!! I will try that out!

[2019-12-11 18:35] nstjean commented on #214
PR for gh-pages: https://github.com/publiclab/leaflet-blurred-location/pull/218

Though when I go to publiclab.github.io I'm getting a 404 error.

[2019-12-11 18:39] nstjean commented on #214
Oh I figured out what URL to use. :)

[2019-12-11 19:22] nstjean commented on #214
Ok. I've pushed some changes (after some trial and error with refreshing the page!) to gh-pages so you can take a look. I've added checking for a status code and displaying the error if there is one instead of just spinning forever.

The error shown is:
[code]

@jywarren I believe the "cannot read geometry" error was due to there being no results, not because the parsing was incorrect!

[2019-12-11 20:16] jywarren commented on #214
Ah, great! Then we can close that issue too; though perhaps we should just
display something that says "no results" instead?

On Wed, Dec 11, 2019 at 2:27 PM Natalie St Jean <notifications@github.com>
wrote:

[2019-12-12 02:48] nstjean commented on #214
I'd like to see if it performs correctly when the billing setting is correct just to make sure it works...

In normal use there wouldn't be no results I think, because it only gets sent if a user clicks on a city name while filling out the autocomplete, right? Though we could certainly put a a "no results" message on the screen near the box in case something like this happens again.

[2019-12-12 17:29] jywarren commented on #214
Ah, that makes sense! Yes, and to be honest we could even add some kind of
console error message that says something like "you may be rate limited"
and links to this issue :-) since only devs would see it...

Awesome!

On Wed, Dec 11, 2019 at 9:53 PM Natalie St Jean <notifications@github.com>
wrote:

[2019-12-12 17:45] nstjean commented on #214
Another thing I just thought of: If anyone tries to use LBL on a different they will have to update the API keys. I don't think there's any information about that on in the docs.

[2019-12-12 18:35] nstjean commented on #214
I opened a pull request, but it's doing that thing where it shows a huge list of commits. I'll try looking up what I did last time this happened!

[2019-12-12 18:47] nstjean commented on #214
I tried again thinking that it was my branch that was acting up because of using gh-pages. But brand new branch is doing the same thing. And all the tests are failing, so I'll try to figure out why it worked fine on gh-pages but not in a branch.

[2019-12-16 16:10] nstjean opened #221 "Create getZoom function"
`getZoom` function should return the current zoom value from the maps module.

This is based on what @sagarpreet-chadha said in https://github.com/publiclab/plots2/issues/6946

[2019-12-16 16:15] nstjean opened #222 "Create getZoomFromCoordinates function"
From @sagarpreet-chadha  in https://github.com/publiclab/plots2/issues/6946:

[2019-12-16 16:15] nstjean commented on #222
I will be working on this :smile:

[2019-12-16 16:15] nstjean commented on #221
I'll add this today.

[2019-12-16 17:53] sagarpreet-chadha commented on #222
Awesome!!! Thank you :)

[2019-12-16 18:24] nstjean commented on #222
@sagarpreet-chadha just want to clarify. How does the zoom_filter array calculate and return a zoom level? Does it exist anywhere already or is it something brand new?

[2019-12-17 05:11] sagarpreet-chadha commented on #222
Yes it has already be done in LBLD (https://github.com/publiclab/leaflet-blurred-location-display)!
Implementation wise would be same but the **_meaning of zoom_filter would be little different_**.

Check more about `zoom_filter` array here: https://github.com/publiclab/leaflet-blurred-location-display#zoom_filter--changing-the-zoom-levels-range-where-x-precision-marker-should-be-visible-

Briefly

[2019-12-17 14:26] nstjean commented on #222
Ahhhh! Ok, I see now! So that function returns whether or not a marker should be visible at the current zoom level. But in our new function we want to check the filters to find which zoom level to return. Yes?

[2019-12-17 18:25] nstjean commented on #222
@sagarpreet-chadha
I understand your explanation, however when I look at the code it doesn't seem to be doing what you describe. Say we are looking at `[0,4,0]`... this should correspond to a precision level between 0 and 4 equals a zoom of 0.
[code]
This is checking if the zoom level is between is between 0 and 4, and then comparing the precision to 0.

[2019-12-17 18:44] nstjean commented on #222
Currently on LBL `exammples/index.html` when I look at the map zoom levels and precision it is showing on the screen I get the following:
Precision -1 : (rounded to nearest 10s) -- Zoom level 1, 2, 3, 4, 5
Precision 0 : Zoom 6, 7, 8, 9
Precision 1 : Zoom 10, 11, 12
Precision 2 : Zoom 13, 14, 15
Precision 3 : Zoom 16, 17, 18

[2019-12-17 18:50] sagarpreet-chadha commented on #222
Yes that function is coded in context of LBLD (which marker should be visible according to zoom). For LBL we need different yet similar implementation. Makes sense? Thanks!

[2019-12-17 18:51] nstjean commented on #222
Then here in this file is this code, which matches what I was seeing on the screen.
https://github.com/publiclab/leaflet-blurred-location/blob/1040824864a3e05a83e1e3d9ac75626d56a01ae6/src/blurredLocation.js#L204-L207

[2019-12-17 18:52] nstjean commented on #222
Ahhh, ok. :) I'll just use the precisionTable then, since it's already in use and is the same concept... but with converting precision to zoom we don't need a range, it's just 1 to 1.

[2019-12-17 18:59] sagarpreet-chadha commented on #222
Yes okay we can do 1:1, but we need to also allow people to add their 1:1 mapping array as input to API. Thanks!

[2019-12-17 19:09] nstjean commented on #222
Ahh, ok. Yes. Is the format of precisionTable above acceptable or should it be an array of arrays like this?
`var precisionTable = [[-2, 2], [-1, 3], [0, 6], [1, 10], [2, 13], [3, 16]]`

[2019-12-17 19:30] sagarpreet-chadha commented on #222
I think it is more easy to understand if we do it as we have done in LBLD.
[x, y, z]
For x <= precision <= y, zoom should be z. What do you think? Thanks!

On Wed, 18 Dec 2019, 00:39 Natalie St Jean, <notifications@github.com>
wrote:

[2019-12-17 19:36] nstjean commented on #222
That's fine, but it will be the same on all of them... because precision is a single number, not a range.
`var precisionTable = [[-2, -2, 2], [-1, -1, 3], [0, 0, 6], [1, 1, 10], [2, 2, 13], [3, 3, 16]]`

We could do precision, then a range of zooms?
`var precisionTable = [[-2, 1, 2], [-1, 3, 5], [0, 6, 9], [1, 10, 12], [2, 13, 15], [3, 16, 18]]`

Or honestly for consistency's sake we could keep it

[2019-12-18 06:19] sagarpreet-chadha commented on #222
Hey @nstjean , sorry for not able to clear this.
This function should return zoom, right?
Why do you think there is 1:1 mapping between precision and zoom?
Why we can not have multiple precisions mapped to 1 zoom level?

Example: if precision is in between [2,5] then this function should return lets say zoom level 8. Makes sense?

@jywarren can you chime in here?
Thanks!

[2019-12-18 13:50] nstjean commented on #222
Because based on the code there is a range of zooms for each precision level. There is only precision levels -2 through 3. The zoom levels are 1 through 18.

[2019-12-18 13:52] nstjean commented on #222
This is what shows on the map itself when it's in use... Precision level -2 isn't even used.

[2019-12-18 16:48] nstjean commented on #222
I've pushed what I have complete - and it works as-is. I suggest we merge this so that I can continue working in plots2 using this function, and then later if we want to change the format of the object/array I can do another PR with the change.

[2019-12-18 16:52] #221 closed

[2019-12-19 17:05] #222 closed

[2019-12-20 16:45] #214 closed

[2019-12-23 15:20] nstjean opened #225 "Add new functions to README"
New functions to add to README:
getZoomByPrecision(precision)
setZoom(zoom)
getZoom()
getPrecisionFromNum(num)

[2019-12-23 15:32] jywarren commented on #225
Hooray!!!

On Mon, Dec 23, 2019, 10:20 AM Natalie St Jean <notifications@github.com>
wrote:

[2019-12-23 23:24] cesswairimu opened #227 "Weekly community Check-In #42 - Happy Holidays"
Hi everyone 👋

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about their

[2019-12-23 23:26] cesswairimu commented on #227
@dmahajan980, @bryceparkman, @dependabot-preview[bot], @nicoleiocana, @0dim, @Uzay-G, @nstjean, @AnshitaVishwa, @tsparksh, @sharmamansi, @polygonart6777, @anthony-zhou, @cesswairimu, @chen-robert, @leesgrey, @smarty1palak, @VladimirMikulic, @nfarve, @jywarren, @chanchalsaini, @johnaceto, @gireeshcse, @lisaschumann, @shashwataggarwal, @yeo-yeo, @gabrielrumiranda, @mikepetridisz, @GarvinH, @Ugtan, @

[2019-12-23 23:27] cesswairimu commented on #227
@Rishabh570 @sashadev-sky @IshaGupta18 @vaibhavmatta @shubhscoder @aSquare14 @sidntrivedi012 @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @publiclab/mentors @publicl

[2019-12-23 23:28] VladimirMikulic commented on #227
Happy holidays everyone :tada:

[2019-12-24 04:36] SidharthBansal commented on #227
Happy holidays!!!! :-)))

[2019-12-24 08:23] dmahajan980 commented on #227
Happy holidays everyone!!

[2019-12-24 08:53] Uzay-G commented on #227
Happy holidays and have a happy new year! :smile:
I am learning a lot through some design tasks that are really fun and I am also having fun working on some testing for plots2.

[2019-12-24 13:15] alaxalves commented on #227
Happy holidays everyone! I've been working on Spectral Workbench, just made some improvements there in our docker environment and redesigned our continuous integration pipeline. I realized there are a few tests breaking that need some refactoring. I'll continue to work on that!

[2019-12-27 14:03] nstjean commented on #227
Happy holidays! I can't believe the year is almost over. :open_mouth: Last week I was working on the /post/ form, LBL, and implementing a zoom powertag across the site. This week I'm finishing that up and moving into working on the /map/ route!

[2020-01-01 19:35] nstjean opened #229 "Slider doesn't update when map is zoomed with other methods"
When the map is zoomed in and out using the slider it all works properly. However when the map is zoomed in and out using the mouse or buttons on the map the slider does not update with the changes.

![Peek 2020-01-01 14-34](https://user-images.githubusercontent.com/49460529/71645279-e3b80200-2ca3-11ea-8b5f-961eb92ab468.gif)

[2020-01-02 17:54] #229 closed

[2020-01-02 18:03] jywarren commented on #227
Hi all! HAPPY HAPPY NEW YEAR! 🎉 🎉 🎉

I am merging a LOT of PRs today. So much progress. Thank you all so much for a very wonderful 2019, and looking forward to 2020!!!

[2020-01-02 19:47] blurry-x-face commented on #227
Happy New Year Everyone!!

I recently started working on image sequencer, this week I tried adding Color-Dodge blending method in Blend module.

[2020-01-02 20:13] mikepetridisz commented on #227
Happy New Year! 🎉

[2020-01-06 18:04] shipcy commented on #227
Hey, everyone! My name is Shipra Choudhary. I'm currently a junior pursuing Computer Science and Engineering from India. My skill set includes HTML, CSS, Bootstrap, Javascript, JQuery, C++, MySQL, etc. And I'm new to open source and I'm working on my first contribution. So, please help me out.

[2020-01-06 18:15] Uzay-G commented on #227
Hey @shipcy! If you ever have any questions you can always ask me :+1:. You can also talk to on our [Gitter channel](https://gitter.im/publiclab/publiclab)

[2020-01-06 18:20] cesswairimu commented on #227
Hey @shipcy, welcome...glad to have you here.
Moved to https://github.com/publiclab/community-toolbox/issues/308. Thanks everyone

[2020-01-06 18:20] VladimirMikulic commented on #227
@shipcy @Uzay-G and I are available 24/7 so feel free to ask for help.

[2020-01-06 18:20] #227 closed

[2020-01-06 18:21] cesswairimu commented on #227
Thanks @Uzay-G  and @VladimirMikulic  :heart:

[2020-01-06 18:24] shipcy commented on #227
Thank you so much @Uzay-G , @cesswairimu and @VladimirMikulic .

[2020-01-07 18:20] preetiy commented on #225
hey! is this issue still open to contribute?

[2020-01-07 18:28] nstjean commented on #225
@preetiy This was already merged and should be closed it looks like! There are other available issues though, are you looking for a first-time-only issue?

[2020-01-07 21:01] #225 closed

[2020-01-09 18:24] nstjean opened #231 "Geocode reverse lookup in getPlacenameFromCoordinates not working"
This is the same issue we had in https://github.com/publiclab/leaflet-blurred-location/issues/214 ! I've updated the error checking and API key but now both the search by place name and the get placename are displaying a Google message: "Error retrieving location: You must enable Billing on the Google Cloud Project at https://console.cloud.google.com/project/_/billing/enable Learn more at https://

[2020-01-09 18:25] nstjean commented on #231
@jywarren Having an issue with the API key!

[2020-01-16 20:12] nstjean opened #233 "Testing errors - ReferenceError: Can't find variable: google"
These are the errors we're seeing in LBLD when we try to merge the newest changes from LBL:

![FireShot Capture 228 - Job #329 1 - publiclab_leaflet-blurred-location-display - Travis CI_ - travis-ci org](https://user-images.githubusercontent.com/49460529/72559053-f4ef3a00-3871-11ea-9b75-05acf1f65379.png)

And this is what I'm seeing when I run the tests in LBL from my dev environment:

![natalie@n

[2020-01-16 20:15] nstjean commented on #233
I've noticed that there are no tests for any of the functions in Geocoding.js:

-     geocodeStringAndPan
-     getPlacenameFromCoordinates
-     panMapByBrowserGeocode
-     panMapToGeocodedLocation
-     geocodeWithBrowser

I suspect that when I write some they will fail until we get this error figured out.

[2020-01-16 23:32] jywarren commented on #233
Hmm. Do we have to change this line somehow to use the API differently, as we had in LBL?

https://github.com/publiclab/leaflet-blurred-location-display/blob/73d08add95f0837d36964789f3c84eaa157b7275/spec/javascripts/fixtures/example.html#L7

[2020-01-17 03:06] nstjean commented on #233
We probably do need to update that as well! However it won't solve this problem. I realized that the way the front-end API works when you call the script is this:
`window.google = window.google || {};
google.maps = google.maps || {};`
But in PhantomJS tests in the console as we are running them there literally is no window object. That's why google.maps keeps returning as undefined in the tests.

[2020-01-17 14:26] sagarpreet-chadha commented on #233
Yes LBLD tests used to run fine. The problem is in the testing framework as we have this same error as warning in LBL tests also.
I am thinking that these tests should be independent of Google API and it is infact a good option to mock this API. What do you think @jywarren ?

[2020-01-17 14:34] nstjean commented on #233
Yes the more I think about it the more I think mocking the API is the best choice.

[2020-01-21 16:05] nstjean commented on #233
I created a mock for our testing purposes in LBL, but I've noticed that LBLD and LEL both need a fix implemented to stub the geocoder object so that the tests can pass. I worry about this causing errors when people implement LBL. Should I dig into LBL and try to find a way to code it so that if there's no google api key it doesn't cause these testing errors?

[2020-01-21 16:26] sagarpreet-chadha commented on #233
Hey now you have created mock API, in the future we can use that only?

[2020-01-21 16:32] nstjean commented on #233
Yes! We will probably have to add on to it for other functions other than Geocoder, but that shouldn't be too difficult to do. We won't need the google api key in testing at all.

[2020-01-23 04:58] sagarpreet-chadha commented on #233
Awesome!!!

[2020-02-01 18:15] Rethran commented on #208
I would like to claim this issue

[2020-02-14 13:48] robin-natale commented on #216
Hey I am a first-timer looking to put my hands on my first open source contribution. Can I still Claim the issue and try to figure it out? Any further guidance would be really appreciated!

[2020-02-15 07:45] pythongiant commented on #216
Claim it :+1:

[2020-02-15 07:48] robin-natale commented on #216
I’d like to have this FTO assigned 😃

[2020-02-15 13:31] debck commented on #216
@robin-natale  You can start working.

[2020-02-17 09:56] robin-natale commented on #216
@debck I think I managed to create a pull request for the Template now, not sure i did it correctly as is my first hand on experience!!! Is it all good your end?

[2020-02-17 14:24] debck commented on #216
@robin-natale Can you provide link to the PR. I am unable to find yours

[2020-02-17 14:45] robin-natale commented on #216
@debck  Should be all [here](https://github.com/publiclab/leaflet-blurred-location/pull/236). Let me know if all looks good

[2020-03-03 06:55] cesswairimu opened #237 "Weekly community Check-In #50 - Favorite text editors"
We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about their current week's

[2020-03-03 06:58] cesswairimu commented on #237
@Nevenem, @chirag-wadhwa, @Tlazypanda, @yogeshjdeshmukh, @omizrahi99, @cesswairimu, @theOpetunde, @sailahonkanen, @robin-natale, @avidler, @nstjean, @keshavsethi, @NitinBhasneria, @ccyccyccy, @sssash18, @JordanTFite, @krsudhanshu, @3ng7n33r, @Odisseuss, @imajit, @VladimirMikulic, @rehasantiago, @urvashigupta7, @HashTalmiz, @vinitshahdeo, @dragonwarp, @z-arnott, @JanviMahajan14, @mantinone, @Dougla

[2020-03-03 06:59] cesswairimu commented on #237
@Rishabh570 @sashadev-skyl @vaibhavmatta @shubhscoder @aSquare14 @sidntrivedi012 @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @publiclab/mentors @publiclab/image-seq

[2020-03-03 09:25] sidntrivedi012 commented on #237
Hey all,

Though I have been a big fan of Vim but currently I use VSCode due to its awesome developer ecosystem with Vim keybindings in order to get the flow Vim offers. 😃

Here's a nice video ( https://youtu.be/uininbruNx4?list=PL8tzorAO7s0jy7DQ3Q0FwF3BnXGQnDirs )about neovim and also thoughbot's videos are best for both Vim as well as Emacs. 💻

[2020-03-03 10:58] alaxalves commented on #237
Hi all,
I'm with @sidntrivedi012, Vim is great when I'm in a server and need speed keybinding, but VSCode is "the man" when it comes to developing time taking features.
For this week I'm focused on some PR at Spectral Workbench, regarding the Travis pipelines and Docker dev env.

[2020-03-03 14:31] nstjean commented on #237
I'm currently using VSCode and I'm liking it. But in the past I used Sublime for a little while and before that I used Edit++ for many many years. My only requirement is that I have a good light theme. :wink:

This week I'm finishing up our Outreachy map project in plots2, LEL and LBLD! It's so nice to see it coming together and working!

[2020-03-03 14:56] jywarren commented on #237
Hi all, today I'm doing code community coordination, so am syncing up with PL staff and spending the day catching up! Missed you all!

I'm a vim user after a year or two of emacs back in the day. Before then I used TextMate, which I'm not sure exists anymore? Dunno! But i loved it! :keyboard: :man_technologist:

[2020-03-03 15:04] HarshKhandeparkar commented on #237
I have used many editors like sublime, brackets, atom and even nano on a raspberrypi. But there is something about vscode that just makes it seem like the best one out there. Maybe it is the marketplace, maybe the code completion. Idk, but it is probably the best code editor for javascript (considering its size and that it is not a full fledged IDE).

I still use atom when I write bash scripts tho

[2020-03-03 15:58] Rishabh570 commented on #237
I use VSCode and I love it because of the features it brings to the table and keyboard shortcuts are just cherry on top :smile:
I'm currently planning out the support for the GitLab adapter in community-toolbox.

[2020-03-03 16:23] govindgoel commented on #237
I have used Vim,Atom, VSCode, Intellij Idea, But VSCode standout for javascript among other editors also Atom provide a great interface for github.

[2020-03-03 16:44] sagarpreet-chadha commented on #237
I plann on reviewing the proposals till weekend and syncing up with outreachy fellows. Thanks :balloon:

[2020-03-07 07:16] crisner commented on #237
I use vscode. I like it because of the in-built editor and theme availability. I also like the vscode marketplace where you can browse for extensions and themes. Among the many test editors I have tried I liked vscode the best.

[2020-03-09 05:40] cesswairimu commented on #237
I have been using vim for the past 5 years because I am in love with the terminal :wink: ,  before that I used Sublime text, I aslo use Vscode's Live share when collaborating remotely since cloud9 went under

[2020-03-09 12:46] nstjean commented on #237
@cesswairimu Wow! That seems pretty wild to me!

[2020-03-09 19:17] cesswairimu commented on #237
Yeah sure is @nstjean but once you get a hang of it its hard to go back :smile:

[2020-03-09 20:11] cesswairimu commented on #237
Anyone interested in opening this week's check-in?

[2020-03-10 16:34] cesswairimu commented on #237
Moved to https://github.com/publiclab/infragram/issues/102 Thank you everyone

[2020-03-10 16:34] #237 closed

[2021-03-09 18:54] jywarren opened #259 "Mapknitter API change"
Let's repeat: https://github.com/publiclab/plots2/pull/8887

[2021-03-09 21:28] #259 closed

[2022-02-15 11:22] valerio-bozzolan opened #266 "Demo problem"
Hi all! I noticed that the default tileserver in the demo has some problems:

https://publiclab.github.io/leaflet-blurred-location/examples/

Maybe we can migrate to the OpenStreetMap one. Thank you so much for your thoughts :)